###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

# ignore bazinga output files
/assets/js/translations

# ignore FOS JS routing output
/public/js/fos_js_routes.js

# ignore node modules
/node_modules

#ignore files in public/css
/public/css
/public/manifest.json
/public/js

#ignore output dir of HTMLPurifier
/src/URI
