default:
    suites:
        default:
            contexts:
                - AppBundle\Features\Context\ApiContext:
                    client : '@test.client'
                - AppBundle\Features\Context\FeatureContext: ~
                - AppBundle\Features\Context\JsonContext:
                    jsonInspector: '@json_inspector'
                    jsonSchemaBaseUrl: 'features/json_schema/'
                - AppBundle\Features\Context\DoctrineContext:
                    doctrine: '@doctrine'

    extensions:
        Behat\Symfony2Extension: ~
