imports:
    - { resource: config_dev.yml }

framework:
    test: ~
    session:
        storage_id: session.storage.mock_file
    profiler:
        collect: false

web_profiler:
    toolbar: false
    intercept_redirects: false

swiftmailer:
    disable_delivery: true

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    AppBundle\Features\Json\:
        resource: '../../features/Json/*'

    json_inspector:
        class: AppBundle\Features\Json\JsonInspector
        public: true
