{% extends 'base.html.twig' %}
{% import "macros.html.twig" as macros %}

{% block body %}
    <div class="main white container">

        {% include 'alerts.html.twig' %}
        <div class="row">
            <div class="col-md-4">
                <ul data-toc="div#rules" data-toc-headings="h1,h2,h3,h4,h5"></ul>
            </div>

            <div class="col-md-8" id="rules">

                {% include ['Default/tournamentregulations.'~app.request.locale~'.html.twig', 'Default/tournamentregulations.en.html.twig'] %}

            </div>
        </div>
    </div>
{% endblock %}




