deck_buildform:
    path:  /new
    methods: [GET]
    defaults:
        _controller: AppBundle:Builder:buildform

deck_initbuild:
    path: /build
    methods: [POST]
    defaults:
        _controller: AppBundle:Builder:initbuild

deck_save:
    path: /save
    methods: [POST]
    defaults:
        _controller: AppBundle:Builder:save

deck_edit:
    path: /edit/{deck_id}
    methods: [GET]
    defaults:
        _controller: AppBundle:Builder:edit
    requirements:
        deck_id: \d+

deck_view:
    path: /view/{deck_id}
    methods: [GET]
    defaults:
        _controller: AppBundle:Builder:view
    requirements:
        deck_id: \d+

deck_clone:
    path: /clone/{deck_id}
    methods: [GET]
    defaults:
        _controller: AppBundle:Builder:clone
    requirements:
        deck_id: \d+

deck_delete:
    path: /delete
    methods: [POST]
    defaults:
        _controller: AppBundle:Builder:delete

deck_delete_list:
    path: /delete_list
    methods: [POST]
    defaults:
        _controller: AppBundle:Builder:deleteList

deck_import:
    path: /import
    methods: [GET]
    defaults:
        _controller: AppBundle:Builder:import

deck_fileimport:
    path: /fileimport
    methods: [POST]
    defaults:
        _controller: AppBundle:Builder:fileimport

deck_copy:
    path: /copy/{decklist_id}
    defaults:
        _controller: AppBundle:Builder:copy
    requirements:
        decklist_id: \d+

deck_publish_form:
    path: /publish/{deck_id}
    methods: [GET]
    defaults:
        _controller: AppBundle:Social:publishForm


deck_download:
    path: /export/octgn/{deck_id}
    methods: [GET]
    defaults:
        _controller: AppBundle:Builder:download
    requirements:
        deck_id: \d+

deck_autosave:
    path: /autosave
    methods: [POST]
    defaults:
        _controller: AppBundle:Builder:autosave

decks_diff:
    path: /compare/{deck1_id}/{deck2_id}
    methods: [GET]
    defaults:
        _controller: AppBundle:Builder:compare
    requirements:
        deck1_id: \d+
        deck2_id: \d+
