{#
    @file
    Page template for displaying all restricted lists (RL).

    Available variables:
    - restrictions: a list of active RLs
    - pagetitle: The page title
    - pagedescription: The page description
#}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="main white container">

        {% include 'alerts.html.twig' %}

        <div class="row">
            <div class="col-md-12 restrictions-container">
                {% if restrictions|length %}
                    <div class="active-restrictions">
                        <h1>Active Restricted Lists</h1>
                        <p>The following lists of card restrictions are supported in the deck builder.</p>
                        {% for list in restrictions %}
                            {% include 'Restrictions/restrictedlist.html.twig' with {'list': list} %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}




