{#
    @file
    Partial template for rendering a description for pods.
#}
<p>Some restricted cards are so powerful that their inclusion in a deck comes with
    additional deckbuilding restrictions.
    If a player selects one of these cards as their restricted card
    (shown in <strong>bold text</strong> below), they may not include any of the
    cards listed following them.</p>
