{#
    @file
    Partial template for rendering a description for pods.
#}
<p>Some cards interactions are so powerful that the inclusion of these cards in a deck comes with
    additional restrictions. Those cards are grouped together in pods.</p>
<p>No more than one card from each pod may be included in a deck.</p>
<p>However, if a pod contains a card from the restricted list (indicated in <strong>bold text</strong> if applicable),
    then no cards from that pod other than this restricted card may be included in a deck.</p>
