{#
    @file
    Partial template for rendering a description for restricted lists.
#}
<p>A player may select one card from the restricted list for any given deck,
    and cannot then include any other restricted cards in the same deck.
    A player may run as many copies of his or her chosen restricted card in a deck as
    the regular game rules (or card text) allow.</p>
