<form
    action="{{ path('deck_download_list') }}"
    method="POST"
    enctype="application/x-www-form-urlencoded"
    id="download-deck-list-form"
    class="hidden"
>
    <input type="hidden" name="ids" id="download-deck-list-id" value="">
</form>
