<h1>What, no deck?</h1>

<p>
    Decks are awesome. You can <span class="fake-inline-button text-primary"><span
                class="fas fa-pencil-alt"></span> Edit</span> them until you're satisfied,
    then <span class="fake-inline-button text-primary"><span class="fas fa-share"></span> Publish</span> them for others
    to discuss.
    And if you want to keep to yourself, you can still <span class="fake-inline-button text-primary"><span
                class="fas fa-file-download"></span> Download</span> them or
    <span class="fake-inline-button text-primary"><span class="fas fa-file-export"></span> Export</span> them.
</p>

<p>
    So what are you waiting for? To create your first deck, you can either <span
            class="fake-inline-button text-primary"><span class="fas fa-plus"></span> Build</span> one from scratch using
    the Deckbuilder,
    <span class="fake-inline-button text-primary"><span class="fas fa-file-import"></span> Import</span> one from the web,
    or <span class="fake-inline-button text-primary"><span class="fas fa-file-upload"></span> Upload</span> a deck file in
    Octgn or simple text format.
</p>
