<div class="row" style="margin-bottom:2em">
    <div class="col-xs-12">
        <ul class="list-inline">
            <li><a href="{{ path('about') }}">Über diese Seite</a></li>
            <li><a href="{{ path('api_intro') }}">API</a></li>
            <li>
                <a href="{{ path('donators') }}">Spender/innen</a>
                <span class="fas fa-gift donator" title="Die großzügigen Spender/innen"></span>
            </li>
            <li><a href="javascript:localStorage.clear()">Daten löschen</a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <p>
            Designt and entwickelt von <a href="https://github.com/alsciende">Alsciende</a>.
        </p>

        <p>
            Betrieben von <a href="https://github.com/stopfstedt">stopfstedt</a>
            Kontakt:
            <a href="mailto:webmaester@thronesdb.com" title="E-Mail"><span class="fas fa-envelope"></span></a>
        </p>

        <p>
            Kartendaten mit großem Einsatz gepflegt von Team <a
                    href="https://github.com/throneteki">TheIronThrone.net</a>.
        </p>

        <p>
            Deutsche Übersetzung von <a href="https://github.com/Zaph0dB33bl3br0x">Zaph0dB33bl3br0x</a>.
            Kontakt:
            <a href="mailto:ur.schaefer@live.de" title="E-mail"><span class="fas fa-envelope"></span></a>
        </p>

        <p>
            Berichte über Bugs und Anregungen und Wünsche zur Weiterentwicklung der Seite bitte an <a
                    href="https://github.com/ThronesDB/thronesdb/issues">GitHub</a>.
        </p>
        <p>
            Du kannst ThronesDB mit einer Spende auf <a href="https://paypal.me/stopfstedt">Paypal</a> unterstützen.
        </p>
    </div>
    <div class="col-md-4">
        <p>
            Die auf dieser Seite dargestellten Informationen über Game of Thrones: Der Eiserne Thron – Das Kartenspiel
            (Zweite Edition), sowohl in Text als auch in Bild, unterliegen dem Copyright von Fantasy Flight Games.
            Diese Seite wird von Fantasy Flight Games weder entwickelt, betrieben, noch unterstützt und steht in keiner
            Verbindung zu Fantasy Flight Games.
        </p>

    </div>
</div>
