{% import "AppBundle::macros.html.twig" as macros %}

<h3 class="username">
    <span class="fas fa-user"></span>
    {{ macros.username(decklist.user) }}
</h3>
<div id="deck-description">{{ decklist.descriptionHtml|raw }}</div>
