{% extends 'base.html.twig' %}

{% block title %}Error 500{% endblock %}

{% block body %}
    <div class="container">
        <div class="alert alert-danger" role="alert">
            The server encountered an error.
            Please contact us by filing a ticket on <a href="https://github.com/ThronesDB/thronesdb/issues">GitHub</a>
            or send us an <a href="mailto:webmaester@thronesdb.com">email</a>.
        </div>
    </div>
{% endblock %}
