<h1>What, no deck?</h1>

<p>
    Du kannst Decks <span class="fake-inline-button text-primary"><span class="fa fa-pencil"></span> Bearbeiten</span>
    bist du mit ihnen zufrieden bist,
    dann <span class="fake-inline-button text-primary"><span class="fa fa-share"></span> Veröffentlichen</span>, um sie
    mit anderen zu diskutieren.
    Und wenn du sie für dich behalten möchtest, kannst du sie trotzdem <span
            class="fake-inline-button text-primary"><span class="fa fa-download"></span> Herunterladen</span> oder
    <span class="fake-inline-button text-primary"><span class="fa fa-clipboard"></span> Exportieren</span>.
</p>

<p>
    Also worauf wartest du? Um dein erstes Deck zu erstellen kannst du entweder eins von Grund auf selber <span
            class="fake-inline-button text-primary"><span class="fa fa-plus"></span> Bauen</span>, eins aus dem Internet
    <span class="fake-inline-button text-primary"><span class="fa fa-upload"></span> Importieren</span>, oder eine Datei
    im OCTGN- oder Textformat
    oder <span class="fake-inline-button text-primary"><span class="fa fa-upload"></span> Hochladen</span>.
</p>
