{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Sobre este sitio{% endblock %}

{% block body %}
<div class="main white container">

<h1>{{ block('title') }}</h1>

<p>Este sitio web está dedicado a proporcionar un constructor de mazos y motor de búsqueda rápido, potente y exhaustivo para {{ game_name }} cartas, junto con descripciones de cartas e imágenes de cartas.</p>
<p>Este sitio web está optimizado para la navegación móvil (WebKit).</p>

<h3>créditos</h3>

<p>Me gustaría agradecer especialmente:</p>
<ul>
    <li>a SP por proporcionar el nombre de dominio</li>
    <li>a The Crazy Bear-Riders por las pruebas antes del lanzamiento, especialmente mplain and alexmonk</li>
    <li>a <a href="http://agotgame.com/en">agotgame</a> por la idea de los iconos de tipo codificados por colores</li>
</ul>

</div>
{% endblock %}
