<style>
span.new	{ color:red }
p.mplain	{ color:green }
i		{ font-weight:bold }
</style>

<div style="text-align:justify">

<h1 id="FAQ">Notes, Errata, and Frequently Asked Questions</h1>
<h3>Version 1.1, effective 10/10/2016</h3>

<p>This document contains card clarification, errata, rule clarifications, frequently asked questions, and quick reference material for <em>A Game of Thrones: The Card Game</em>. The most recent version of this document is considered a supplement to the <em>A Game of Thrones: The Card Game</em> Tournament Regulations and the <em>A Game of Thrones: The Card Game</em> <a href="http://thronesdb.com/rules" target="_blank">Rules Reference</a>. All changes and additions to this document since the previous version are marked in <span class="new">red</span>.</p>

<p><b>New Content (v1.1):</b> <a href="#Notes_and_Errata">Notes and Errata</a>, <a href="#Player_Choices_While_Initiating_Abilities">Rulings and Clarifications</a>, <a href="#FAQ_13">Frequently Asked Questions</a>, <a href="#Card_Legality">Card Legality</a>, <a href="#Derived_Information">Definitions and Terms</a>.</p>

<p class="mplain"><b>Notes</b> and <b>Related</b> cards added by <b>mplain</b>.</p>

<h1 id="Notes_and_Errata">Notes and Errata</h1>

<p>This section contains notes and errata pertaining to specific cards or sections of the rulebook. The document version number in which an entry first appeared is listed with that entry in order to establish a history of when each change was made.<p>

<p><span class="new">Errata overrides the originally printed information on the card it applies to. Unless errata for a card appears below, the original English non-draft product printing of that card and all of its information is considered accurate, and overrides all other printings. This includes translated cards, promotional or organized play cards, and printings which may appear in alternate products.</span></p>

<h2 id="Rulebook_Errata">Rulebook Errata</h2>

<p><b>(v1.0) Rules Reference page 26, column 1, paragraph 9</b><br>
The phrase "<em>all relevant <u>reserve</u> modifiers</em>" should read: "<em>all relevant <u>initiative</u> modifiers.</em>"</p>

<h2 id="Card_Errata">Card Errata</h2>

<p><b>(v1.0) <a href="http://thronesdb.com/card/02063" target="_blank">Ser Horas Redwyne</a> (<em>Westeros</em> 63)</b><br>
Should read: "<em>...choose and stand a <i>Lady</i> chara<u>c</u>ter.</em>"</p>

<h1 id="Definitions_and_Terms">Definitions and Terms</h1>

<p>This section provides definitions for important terms that serve a precise function in the game. The terms are presented in alphabetical order.</p>

<h3 id="Choose">Choose</h3>

<p>The word "choose" indicates that an ability selects one or more targets. In the absence of the word "choose," an ability is not considered to be a targeting ability.</p>

<p class="mplain"><b>Related:</b> 	<a href="http://thronesdb.com/card/01044" target="_blank">Tears of Lys</a>, 
									<a href="http://thronesdb.com/card/02115" target="_blank">Tyene Sand</a>, 
									<a href="http://thronesdb.com/card/04036" target="_blank">Venomous Blade</a>, 
									<a href="http://thronesdb.com/card/01116" target="_blank">Ghaston Grey</a>, 
									<a href="http://thronesdb.com/card/02112" target="_blank">Drowned God's Blessing</a>, 
									<a href="http://thronesdb.com/card/04022" target="_blank">Fear Cuts Deeper Than Swords</a>.</p>

<span class="new">
<h3 id="Derived_Information">Derived Information</h3>

<p>Derived information is any information about the game, game state, or cards all players have had the opportunity to learn through card/game effects or through the process of deduction using open information. This includes any modified stats or text of a card, tokens assigned to particular cards, choices a player made or actions a player took that are still affecting the game state or a card(s), etc.</p>

<p>Derived information may be marked with the use of a token or other indicator so that players remember the information. A player cannot misrepresent derived information or hide the open information necessary to discover derived information.</p>

<p>If derived information is dependent on a player's previous decision or action, he or she must answer truthfully when asked about that decision or action. For example, Steph chooses Military when she reveals <a href="http://thronesdb.com/card/01008" target="_blank">Calm Over Westeros</a> (Core Set, 8). During the Challenge Phase, Bryan forgets and asks Steph which challenge type she chose for Calm Over Westeros. Steph must answer honestly that she chose Military.</p>

<p>If derived information becomes hidden information, the player who made a previous decision or action related to that information is not required to divulge any details about that decision or action. For example, Bryan reveals <a href="http://thronesdb.com/card/01022" target="_blank">Summons</a> and chooses Ser Jaime Lannister, revealing the card to Steph. Later in the game round, Steph forgets what card Bryan revealed from Summons, but Bryan is not required to tell her, as Ser Jaime Lannister became hidden information (moving into Bryan's hand) after the Summons effect finished resolving.</p>

<h3 id="Hidden_Information">Hidden Information</h3>

<p>Hidden information is any information about the game, game state, or cards unavailable to one or more players. This includes the cards in a player's hand, unrevealed plot cards, etc. If a card is temporarily revealed, it is derived information for as long as the player(s) is able to uniquely identify that card.</p>

<p>A player cannot learn hidden information without the aid of a game effect, rule, or another player verbally communicating the information. However, if a player that has access to hidden information about the game or a card and chooses to verbally share it with his or her opponent, that player is not required to tell the truth.</p>

<h3 id="Open_Information">Open Information</h3>

<p>Open information is any information about the game, game state, or cards that is available to all players. This includes faceup cards in a player's discard, dead, and used piles, the number of cards in a player's deck or hand, the amount of gold and power a player has, and any other information continuously available to all players.</p>

<p>All players are entitled access to open information and cannot hide open information from an opponent or omit specific details. A player must allow his or her opponent to discover the information themselves if they attempt to do so.</p>
</span>
					
<h3 id="Terminal_Condition">Terminal Condition</h3>

<p>This term is used to describe a lasting effect or constant ability that will continually drive a card out of play so long as the card is in that condition. An example of a terminal condition is: "<em>Until the end of the phase, that character is killed if its STR is 0.</em>"</p>

<p class="mplain"><b>Related:</b> 	<a href="http://thronesdb.com/card/01173" target="_blank">Plaza of Punishment</a>, 
									<a href="http://thronesdb.com/card/01176" target="_blank">Dracarys!</a>, 
									<a href="http://thronesdb.com/card/02034" target="_blank">Crown of Gold</a>, 
									<a href="http://thronesdb.com/card/02075" target="_blank">Blood of the Dragon</a>.</p>

<h1 id="Rulings_and_Clarifications">Rulings and Clarifications</h1>

<p>This section contains additions and clarifications to the core game rules. Each entry is presented with a unique section number so it can be easily identified when making rulings, answering questions, or otherwise referring to the entry.</p>

<p>It should be used in conjunction with the Rules Reference to establish the rules of play. If the text of this document directly contradicts the text of the Rules Reference, the text of this document takes precedence.</p>

<h2 id="Game_Play">1. Game Play</h2>

<h3 id="Infinite_Loops">(1.1) Infinite Loops</h3>

<p>It is possible, with certain card combinations, to create an "infinite loop" (such as having two cards kneel to stand each other indefinitely). When executing an infinite loop, a player follows these steps:</p>

<ol>

<li>Clearly display the infinite loop to the opponent (and tournament judge, if the opponent requires it). Thus, the player must display, using all cards involved, one full cycle of the infinite loop.</li>
<br>
<li>State how many times he or she wishes to execute the loop. For example, the player could say, "I will now execute this loop seventeen times." Then, resolve the loop that many times instantly. If the execution of this loop causes the player to win the game, the game is over and the executing player wins.</li>

</ol>

<p>Infinite loops should never be used to cause a game to stall.</p>

<p>When resolving the abilities within a loop, a player is not compelled to make a choice that would avoid the continuation of the loop. For instance, if the only means to break a loop would be for a player to make a choice he or she does not desire to make, the player is not compelled to make that choice: as the player could theoretically keep the loop going forever, he or she is permitted to voluntarily end the sequence after the chosen number of executions of the loop have been completed without ever making the undesirable choice.</p>

<p class="mplain"><b>Related:</b> <a href="http://thronesdb.com/card/02084" target="_blank">Pulling the Strings</a>.</p>

<h3 id="Duplicates">(1.2) Duplicates</h3>

<p>In order to bring a card into play as a duplicate, both the duplicate and the unique card that would be duplicated must be owned and contolled by the player attempting the duplication.</p>

<p>A player cannot bring a unique card into play as a duplicate if another copy of that unique card is in his or her dead pile.</p>

<p>A player cannot marshal a limited card as a duplicate if he or she has already marshaled or played a limited card that round. Marshaling a limited card as a duplicate is considered to count as a player's limited card for that round.</p>

<p class="mplain"><b>Note:</b> Taking control of a card does not give you control of its duplicates and attached cards.<br>
<b>Related:</b> "Take control" effects,	<a href="http://thronesdb.com/card/02064" target="_blank">The Arbor</a>, 
										<a href="http://thronesdb.com/card/05017" target="_blank">Golden Tooth</a>.</p>

<h3 id="Unique_cards">(1.3) Unique cards in play and in the dead pile</h3>

<p>The following defines the control and ownership rules surrounding unique cards:</p>

<ul>

<li>A player cannot marshal, put into play, or take/gain control of a unique card if another copy of that card is in his or her dead pile.</li>
<br>
<li>A player cannot <span class="new">marshal or</span> put into play a copy of an opponent's unique card if another copy of that unique card (owned either by the player attempting to bring the card into play, or by the opponent who owns the unique card that is attempting to enter play) is already in play or is in its owner's dead pile.</li>
<br>
<li>An ability that puts a unique card into play from a player's dead pile functions only if there would be no other copies of that card in that dead pile upon resolution of the ability.</li>
<br>
<li>If a player controls a unique card that he or she does not own, that player <span class="new">and that card's owner</span> cannot marshal or put into play additional copies of that card, regardless of ownership.</li>
<br>
<li>If a player controls a unique card (regardless of ownership) that player cannot take/gain control of other copies of that card.</li>
<br>
<li>If a player owns and controls a unique card, each other copy of that card that he or she owns and controls that would enter play does so as a duplicate.</li>

</ul>

<p class="mplain"><b>Related:</b> "Take control" effects, 
					<a href="http://thronesdb.com/card/01069" target="_blank">Euron Greyjoy</a>, 
					<a href="http://thronesdb.com/card/01129" target="_blank">Yoren</a>, 
					<a href="http://thronesdb.com/card/04046" target="_blank">Night Gathers...</a></p>

<h3 id="Control_of_Tokens">(1.4) Control of Tokens</h3>

<p>Tokens are not considered to be under a player's control. Rather, tokens exist either in game areas (such as in a player's gold pool) a player controls or on cards (such as on a faction card or on a character) that are under a player's control.</p>

<ul>

<li>A player's power total is determined by counting the total number of power on cards he or she controls.</li>
<br>
<li>Unless otherwise specified by an ability, a player may only use tokens that are in game areas or on cards he or she controls to pay costs.</li>

</ul>

<h2 id="Card_Ability_Interpretation">2. Card Ability Interpretation</h2>

<h3 id="Cannot_be_X-ed">(2.1) Cannot be {Variable}ed</h3>

<p>If a card "cannot be {variable}ed," where {variable} is something that would happen to the card such as "killed," "discarded," or "knelt," that card cannot be chosen to be {variable}ed by a card ability or game effect that would {variable} the card. Further, a card that cannot be {variable}ed ignores any non-targeting ability or game effect that would {variable} it.</p>

<p><em>For example: A card that "cannot be killed" cannot be chosen to be killed to satisfy military challenge claim, cannot be chosen as the target of an ability that would kill it, and it would ignore the effect of an ability that reads, "Kill each character in play."</em></p>

<p class="mplain"><b>Related:</b> <a href="http://thronesdb.com/card/02098" target="_blank">The Eyrie</a>.</p>

<h3 id="Delayed_Effects_and_Immunity">(2.2) Delayed Effects and Immunity</h3>

<p>For the purpose of determining whether or not a card is immune to a delayed effect, the delayed effect is considered to be an effect of the card and card type that created it.</p>

<p class="mplain"><b>Related:</b> 	<a href="http://thronesdb.com/card/01044" target="_blank">Tears of Lys</a>, 
									<a href="http://thronesdb.com/card/02059" target="_blank">Tourney for the King</a>.</p>

<h3 id="Referential_Targets">(2.3) Referential Targets</h3>

<p>Some abilities require the choice of a target that is not directly affected by the ability—the target is instead chosen as a reference point while resolving the ability. When choosing referential targets, a player is not bound by the rule that a target is ineligible if the resolution of the effect would not affect the chosen target.</p>

<p><em>For example: <a href="http://thronesdb.com/card/01026" target="_blank">Wildfire Assault</a> (Core, 26) allows each player to choose up to 3 characters he or she controls. The effect then resolves on the characters not chosen. The targets chosen by this ability are "referential targets," and a player is not bound by the rule that the chosen targets are affected by Wildfire Assault's effect, as this would be impossible: the chosen targets for this ability are never affected by its effect.</em></p>

<h2 id="Dynamic_Situations">3. Dynamic Situations</h2>

<h3 id="Saving_from_a_Terminal_Condition">(3.1) Saving from a Terminal Condition</h3>

<p>When determining if a save effect has the potential to remedy an ongoing terminal condition, anticipate only the application of all aspects of the effect that is producing the save as well as all lasting effects and constant abilities that would be affecting the card upon application of the effect.</p>

<p class="mplain"><b>Related:</b> 	<a href="http://thronesdb.com/card/03002" target="_blank">Catelyn Stark</a> (WotN) + 
									<a href="http://thronesdb.com/card/03008" target="_blank">Jory Cassel</a>, 
									<a href="http://thronesdb.com/card/03013" target="_blank">Sansa Stark</a> (WotN) + 
									<a href="http://thronesdb.com/card/02094" target="_blank">Blood Magic Ritual</a>.</p>

<span class="new">
<h3 id="Player_Choices_While_Initiating_Abilities">(3.2) Player Choices While Initiating Abilities</h3>

<p>Player choices made as part of the initiating an ability/marshaling a card process (<a href="http://thronesdb.com/rules#Initiating_Abilities_Marshaling_Cards" target="_blank">Rules Reference</a>, page 10), including the choosing of targets, are constrained to those that were established as legal options in Step 1 of that process, where the legality of initiating the ability was checked.</p>

<p>If a change in the game state between Step 1 and Step 7 creates a situation in which there are no legal targets at the time targets are chosen, or a situation in which a choice must be made but there are no valid options for that choice, the ability is considered to resolve unsuccessfully. An event that resolves unsuccessfully is placed in its owner's discard pile.</p>

<h3 id="Challenge_Icons">(3.3) Challenge Icons</h3>

<p>A character is considered to have a challenge icon or to not have that icon. A single character that has and/or is gaining the same challenge icon from multiple sources functions as if it has one instance of that icon.</p>
</span>
									
<h1 id="Card_Legality">Card Legality</h1>

<p>For most Relaxed and Formal tier events, a product is legal from the time of its release until the time of its rotation (if applicable). For Premier tier events (such as the North American and World Championships), product becomes legal 11 days after its official release to ensure that all competitors have sufficient opportunity to obtain and familiarize themselves with all products in the defined pool. For a current list of legal product, see the FFG website, here: <a href="https://www.fantasyflightgames.com/en/op/legality/" target="_blank">https://www.fantasyflightgames.com/en/op/legality/</a></p>

<h2 id="2016_World_Championships"><i>2016 World Championships</i></h2>

<p>For the 2016 World Championships, the following product sets will be legal:</p>

<ul>

<li><em>A Game of Thrones: The Card Game</em> second edition core set</li>

<li><i>Wolves of the North</i> deluxe expansion set</li>

<li><i>Westeros</i> cycle Chapter Pack expansion sets: (<i>Taking the Black, The Road to Winterfell, The King's Peace, No Middle Ground, Calm Over Westeros, True Steel</i>)</li>

<li><i>War of Five Kings</i> cycle Chapter Pack expansion sets: (<i>Across the Seven Kingdoms, Called to Arms, For Family Honor</i>)</li>

</ul>

<h2 id="Banned_List">Banned List</h2>

<p>A card on the banned list cannot be used in tournament play.</p>

<p><b>No banned cards at this time.</b></p>

<h2 id="Restricted_List">Restricted List</h2>

<p>A player may select one card from the restricted list for any given deck, and cannot then include any other restricted cards in the same deck. A player may run as many copies of his or her chosen restricted card in a deck as the regular game rules (or card text) allow.</p>

<p><b>No restricted cards at this time.</b></p>

<h1 id="Frequently_Asked_Questions">Frequently Asked Questions</h1>

<p>This section provides answers to a number of common questions that are asked about the game. The entries are presented in a "question and answer" format, with the newest questions at the end of the list.</p>

<h3 id="FAQ_1">Catelyn Stark</h3>

<p><i>Which abilities does <a href="http://thronesdb.com/card/01143" target="_blank">Catelyn Stark</a> (Core, 143) prevent an opponent from using?</i></p>

<p>Catelyn prevents an opponent from using <b>triggered card abilities that he or she would initiate.</b> A triggered ability is indicated by a bold timing trigger, such as <b>Action, Interrupt, Reaction, Dominance Action,</b> and so forth. Catelyn prevents an opponent from initiating such bold-faced abilities. However, <b>Forced</b> abilities and <b>When Revealed</b> abilities are initiated automatically by the game (as opposed to being initiated by the player who controls the card), so Catelyn does not prevent these two classes of triggered abilities. Additionally, using a duplicate is defined as a triggered <em>game</em> ability (as opposed to a triggered <em>card</em> ability), and therefore Catelyn does not prevent the use of duplicates. Finally, any ability that is not prefaced with a bold timing trigger (such as a keyword, like ambush) is not considered a <em>triggered</em> ability, and is not prevented by Catelyn's text.</p>

<h3 id="FAQ_2">Melisandre + Seen in Flames</h3>

<p><i>When can I trigger <a href="http://thronesdb.com/card/01047" target="_blank">Melisandre</a>'s (Core, 47) reaction to "playing" a R'hllor event such as <a href="http://thronesdb.com/card/01064" target="_blank">Seen in Flames</a> (Core, 64) — before or after the effect of Seen in Flames occurs?</i></p>

<p>The act of playing an event entails paying its costs, resolving its effects (or having those effects canceled), and placing the event in its owner's discard pile. Reactions to playing an event may only be triggered after this process is complete. Therefore, the effect of Seen in Flames is resolved before Melisandre's reaction to playing the event may be triggered.</p>

<h3 id="FAQ_3">The Hand's Judgment</h3>

<p><i>While I am in the process of playing a <a href="http://thronesdb.com/card/01045" target="_blank">Hand's Judgment</a> (Core, 45) from my hand, and my opponent uses another event card to attempt to cancel my Hand's Judgment, can I attempt to play that same copy of my Hand's Judgement a second time to cancel my opponent's event?</i></p>

<p>The precursor to playing an event card involves declaring your intent to play the card, and showing the card to be used, if necessary (<a href="http://thronesdb.com/rules#Initiating_Abilities_Marshaling_Cards" target="_blank">RR, page 10</a>). If a card is revealed in this manner and is in the process of being played, the same card cannot be revealed from hand with an intent to play it an additional time. (You could, however, play another copy of the card.)</p>

<h3 id="FAQ_4">Nymeria Sand</h3>

<p><i>Can <a href="http://thronesdb.com/card/02035" target="_blank">Nymeria Sand</a> (Westeros, 35) be used to cause a character to lose a challenge icon it does not currently possess, so that each of my Sand Snake characters can gain that icon?</i></p>

<p>Yes. There are no targeting restrictions on Nymeria Sand's ability beyond "choose an opponent's character," so any opponent's character is an eligible choice. If you choose an icon type that the chosen character does not possess, a lasting effect causing that character to lose one instance of that icon is still applied to that character for the duration of the effect. (This means that the character would now have to gain an additional instance of the icon type to function as if it had the icon.) Finally, the subsequent gaining of that icon type by each of your <i>Sand Snake</i> characters is not dependent upon the opponent's character losing a functional version of the icon.<p>

<p class="mplain"><b>Note:</b> Also applies to keywords.<br>
<b>Related:</b> <a href="http://thronesdb.com/card/02076" target="_blank">Maester of Starfall</a>.</p>

<h3 id="FAQ_5">Attachments in Setup</h3>

<p><i>If I place an attachment in setup that would have a legal target among the other cards I have placed, can I, after revealing setup cards, decide to attach it to a legal target in an opponent's setup?</i></p>

<p>No. Setup cards may only be attached to revealed cards you control.</p>

<h3 id="FAQ_6">Attachments in Setup #2</h3>

<p><i>When I am attaching my cards during setup, do I attach them all at once or one at a time?</i></p>

<p>All of a player's attachments are attached simultaneously during setup. While placing cards for setup, you cannot use one attachment to create a condition in which another attachment is legally attached. In other words, you cannot setup the <a href="http://thronesdb.com/card/02058" target="_blank">Knighted</a> (<i>Westeros, 58</i>) attachment on a non-<i>Knight</i> character so that you can also setup the <a href="http://thronesdb.com/card/02044" target="_blank">Mare in Heat</a> (<i>Westeros, 44</i>) attachment on the same character.</p>

<p>If upon completion of attaching cards during setup one attachment has created a game state in which another attachment is <em>illegally</em> attached, immediately discard the illegal attachment.</p>

<h3 id="FAQ_7">Attacking Alone</h3>

<p><i>If I win a challenge in which I control two attacking <i>Knight</i> characters and one of them is targeted by <a href="http://thronesdb.com/card/01116" target="_blank">Ghaston Grey</a> (Core, 116), returning it to my hand and leaving me with one attacking <i>Knight</i> character, may I subsequently play <a href="http://thronesdb.com/card/02024" target="_blank">Lady Sansa's Rose</a> (Westeros, 24) by virtue of that single <i>Knight</i> who is now attacking alone?</i></p>

<p>Yes, you may. Lady Sansa's Rose reads "...in which you control a <i>Knight</i> character that is attacking alone," and the check on "is attacking alone" is made at the time the event would be played.<p>

<h3 id="FAQ_8">Limited Cards in Setup</h3>

<p><i>If I play a limited card as a duplicate, does it count as my limited card for the round?</i></p>

<p>Yes. The limited keyword is checked during step 1 of the timing sequence detailed on <a href="http://thronesdb.com/rules#Initiating_Abilities_Marshaling_Cards" target="_blank">page 10 of the RR</a>, which asks the question: "can the card be marshaled or played, or the ability initiated at this time?" In order to play a duplicate, a player must make several verifications during this step: that the card is unique, that he or she owns and controls a copy of that card in play, that there is no copy of that card in his or her dead pile. If the card to be played as a duplicate is limited, the player must also verify that he or she has not yet marshaled or played a limited card this round. If the player has not yet marshaled or played a limited card this round, and proceeds to marshal the card, the card does count count as the player's limited card for the round.</p>

<p class="mplain"><b>Related:</b> 	<a href="http://thronesdb.com/card/02064" target="_blank">The Arbor</a>, 
					<a href="http://thronesdb.com/card/05017" target="_blank">Golden Tooth</a>.</p>

<h3 id="FAQ_9">Wolves of the North</h3>

<p><i>I am declaring two copies of the card <a href="http://thronesdb.com/card/03006" target="_blank">Wolves of the North</a> (Wolves of the North, 6) as attackers. Can each copy choose the same target for stealth when I declare stealth targets?</i></p>

<p>The timing of declaring stealth targets is considered to be simultaneous with the declaration of the challenge, opponent, and attackers. Each stealth target, however, is declared independently, and each Wolves of the North may select the same target for its stealth ability.</p>

<h3 id="FAQ_10">Master of Whispers + Trial by Combat</h3>

<p><i>How does the <a href="http://thronesdb.com/card/01206" target="_blank">Master of Whispers</a> (Core, 206) title ability work with claim replacement or adjustment effects such as <a href="http://thronesdb.com/card/02090" target="_blank">Trial by Combat</a> (Westeros, 90), <a href="http://thronesdb.com/card/02096" target="_blank">Vengeance for Elia</a> (Westeros, 96), and <a href="http://thronesdb.com/card/02093" target="_blank">Mirri Maz Duur</a> (Westeros, 93)?</i></p>

<p>The Master of Whispers ability is not itself a claim replacement ability, and therefore functions alongside claim replacement effects as much as it is able, based on the language of the particular effect in question.</p>

<p>For Trial by Combat, each opponent you choose will suffer the military claim.</p>

<p>For Vengeance for Elia, the player who lost the challenge (if The Masters of Whispers player decides the loser of the challenge will be resolving claim) can cause a different opponent to suffer that claim for him or her, and the attacker may also still resolve the claim against some or all of the other opponents as well. Note that if a player who is already responsible for satisfying claim (due to Master of Whispers) is chosen as the target of Vengeance for Elia, that player still only applies the claim result once, and this satisfies both obligations.</p>

<p>For Mirri Maz Duur, her ability requires that you choose one character controlled by the losing opponent, and kills that character. As only one character is chosen to be killed by this ability, the resolution of Mirri's claim against other opponents does nothing, and there is no interaction between these two cards.</p>

<h3 id="FAQ_11">Dragon Sight</h3>

<p><i>If I play <a href="http://thronesdb.com/card/03036" target="_blank">Dragon Sight</a> (Wolves of the North, 36) in the challenge action window before declaring defenders, will any defenders that are subsequently declared be affected by the Dragon Sight effect?</i></p>

<p>No. If an ability creates a lasting effect on a set of cards, it only affects the cards that are eligible at the time the event card is played.</p>

<p>Conversely, if a character that had been participating in a challenge and affected by Dragon Sight is somehow removed from the challenge, the lasting effect remains in effect on that character until the end of the challenge, regardless of its status as participating or not.</p>

<p class="mplain"><b>Note:</b> Also applies to character abilities.<br>
<b>Related:</b> <a href="http://thronesdb.com/card/02035" target="_blank">Nymeria Sand</a> + 
		<a href="http://thronesdb.com/card/04016" target="_blank">Harmen Uller</a>.</p>

<h3 id="FAQ_12">Multiple "Take Control" Effects</h3>

<p><i>How do multiple "take control" effects work? For instance, if one opponent gains control of my character with <a href="http://thronesdb.com/card/01139" target="_blank">Take the Black</a> (Core, 139), and then another opponent takes control of that same character with <a href="http://thronesdb.com/card/02102" target="_blank">Ward</a> (Westeros, 102), what happens to the character if Ward is discarded?</i></p>

<p>Upon the expiration or cessation of a control change effect, control of the card reverts back to the player with the nextmost recent take control effect that would affect on the card. (If no player possesses a control effect that would affect the card, control reverts back to the card's owner.) In this example, when the Ward card leaves play, control of the character reverts back to the player who had gained control of it with Take the Black.<p>

<span class="new">
<h3 id="FAQ_13">Resolving Keywords</h3>

<p><i>If I win a challenge in which I control both <a href="http://thronesdb.com/card/02049" target="_blank">Ser Gregor Clegane</a> (Westeros, 49) and <a href="http://thronesdb.com/card/01069" target="_blank">Euron Crow's Eye</a> (Core, 69), which player chooses the order in which their pillage abilities resolve?</i></p>

<p>As the controller of the two characters, you choose the order in which their pillage abilities resolve. Although the first player determines the order in which keywords are processed, by type, the first player does not determine the order in which keywords resolve within each type. Because each instance of pillage is optional, the controller of the characters with pillage chooses in which order the pillage abilities resolve.</p>

<h3 id="FAQ_14">Processing Keywords</h3>

<p><i>What happens if a character gains a challenge resolution keyword while another challenge resolution keyword is being processed?</i></p>

<p>Each keyword type can only be processed once during challenge resolution. If a character gains a keyword after that keyword has already been processed, that character's instance of the keyword will not resolve. However, if a character gains a keyword that has not yet been processed, or is currently being processed, that instance of the keyword will be able to resolve. Note that a keyword can only be processed if a relevant instance of that keyword is present in the challenge.</p>

<p class="mplain"><b>Related:</b> <a href="http://thronesdb.com/card/05007" target="_blank">Chella Daughter of Cheyk</a>.</p>

<h3 id="FAQ_15">Varys's Riddle + Summer Harvest</h3>

<p><i>If I reveal <a href="http://thronesdb.com/card/04020" target="_blank">Varys's Riddle</a> (War of Five Kings, 20) and my opponent reveals <a href="http://thronesdb.com/card/04039" target="_blank">Summer Harvest</a> (War of Five Kings, 39), what will the base gold value on Summer Harvest be?</i></p>

<p>Varys's Riddle allows you to initiate the ability on Summer Harvest as if you had just revealed it. This means that Summer Harvest's ability will trigger twice: one will be the "original" version triggered by your opponent, while the other will be a version "as if you had just revealed it," which changes who is an eligible target for "Choose an opponent." These abilities will each attempt to define the gold value on Summer Harvest: the "original" will look at the printed gold value on Varys's Riddle (which is 5) and define its base gold value as 7, while the other will look at the printed gold value on Summer Harvest (which is X, treated as 0) and define its base gold value as 2. Because these two lasting effects cannot be applied simultaneously, the first player chooses the order in which to apply them, and the base gold value on Summer Harvest will either be 2 or 7 based on the first player's choice.</p>
</span>

<h1 id="Quick_Reference">Quick Reference</h1>

<p>This section provides standard play information in an abbreviated, quick-reference format that can be helpful in clarifying some common situations in the game.</p>

<h2 id="DUCK"><i>Challenge Application Timing Sequence</i></h2>

<p>When applying the results of a challenge, observe the following steps, which can be easily remembered with the mnemonic device "D.U.C.K."</p>

<ol>

<li><b>D</b>etermine challenge result.</li>
<li><b>U</b>nopposed.</li>
<li><b>C</b>laim.</li>
<li><b>K</b>eywords.</li>

</ol>

<h2 id="End_of_Phase"><i>End of Phase Timing Sequence</i></h2>

<p>Numerous abilities reference the end of a phase in a variety of ways. The following is a break down of how such sequences are observed.</p>

<ol>

<li>Interrupts to the end of phase may be used.</li>
<br>
<li>"<i>Until the end of the phase</i>" lasting abilities (and "<i>during the X phase</i>" abilities) expire. This step is the precise moment at which the phase ends, and anything that occurs as a result of the next two steps occurs outside of the phase.</li>
<br>
<li>"<i>At the end of the phase</i>" delayed effects resolve.</li>
<br>
<li>Reactions to the end of the phase may be used.</li>

</ol>

<p>The above can be generalized and used when referring to the end of other periods, such as the end of a challenge or the end of a round.</p>

</div>
