<style>
span.new	{ color:red; }
span.mplain	{ color:green; }
span.trans {color: blue;}
</style>

<h1 id="fedeerratasypreguntasfrecuentes">Fe de erratas y preguntas frecuentes</h1>

<h3 id="versiónoficialeninglés:1.1octubre2016">Versión oficial en inglés: 1.1 Octubre 2016</h3>

<h3 id="versiónencastellano:1.01junio2016">Versión en castellano: 1.01 Junio 2016</h3>

<p>Este documento contiene las erratas detectadas en las cartas, aclaraciones a las reglas, respuestas a las preguntas más
frecuentes y material de referencia para Juego de tronos: El juego de cartas. La versión más reciente de este documento está
considerada como un suplemento a la normativa de torneo de Juego de tronos: El juego de cartas y a la Guía de referencia de
dicho juego.</p>

<p>Los cambios introducidos en este documento por una nueva versión oficial en castellano del mismo están <span class="new">marcados en rojo</span>.</p>

<p>Los cambios introducidos en este documento mediante traducción no oficial de la última versión oficil del original inglés están <span class="trans">marcados en azul</span>.</p>

<p><strong>Nuevo contenido (v1.1)</strong>: <a href="#notasyfedeerratas">Notas y fe de erratas</a>, <a href="#aclaracionesalasreglas">Aclaraciones a las reglas</a>, <a href="#preguntasmásfrecuentes">Preguntas más frecuentes</a>, <a href="#validezdecartas">Validez de cartas</a>, <a href="#definicionesytérminos">Definiciones y términos</a></p>

<p><span class="mplain"><strong>Notas</strong> y <strong>Cartas Relacionadas</strong> añadidas por <strong>mplain</strong> y traducidas por fafranco82.</span> </p>

<h1 id="notasyfedeerratas">Notas y fe de erratas</h1>

<p>En esta sección se recogen aclaraciones y erratas concernientes a
cartas o apartados específicos del reglamento. En cada caso se indica
además la versión del documento en el que se añadió el contenido
por primera vez a fin de facilitar el seguimiento de estos
cambios.</p>

<p><span class="trans">Las erratas sustituyen la información impresa de la carta a la que se les aplica. A menos que aparezca a continuación una errata para una carta, la impresión original en inglés de un producto y toda su información se considera correcta, y sustituye todas las demás impresiones. Esto incluye cartas traducidas, cartas promocionales o de juego organizado, e impresiones que puedan aparecer en productos alternativos.</span></p>

<h2 id="erratasdelasreglas">Erratas de las reglas</h2>

<p><strong>(v1.01) Guía de referencia, página 26, columna izquierda, párrafo 9</strong><br/>
La expresión “(después de aplicar todos los modificadores pertinentes)”
se refiere a los modificadores a la Iniciativa.</p>

<h2 id="erratasdelascartas">Erratas de las cartas</h2>

<p><strong>(v1.01) <a href="/card/02014" target="_blank">Vaes Dothrak</a> (14 del ciclo de <em>Poniente</em>)</strong><br/>
El texto de reglas de esta carta debería decir “&#8230; que tenga un coste
impreso igual o inferior”.</p>

<p><strong>(v1.01) <a href="/card/02082" target="_blank">Cripta de Invernalia</a> (82 del ciclo de <em>Poniente</em>)</strong><br/>
El texto de reglas de esta carta debería decir “&#8230; para elegir un
Personaje con una FUE impresa igual o inferior”.</p>

<h1 id="definicionesytérminos">Definiciones y términos</h1>

<p>Esta sección ofrece definiciones de términos importantes que desempeñan
funciones muy concretas en el juego. Se presentan en
orden alfabético.</p>

<h3 id="elegirelección">Elegir/elección</h3>

<p>El verbo “elegir” y sus derivados (como la expresión “de tu elección”)
indica que una capacidad ha de seleccionar uno o varios
objetivos para su efecto. Si esta expresión no está presente, se considera
que la capacidad en cuestión no selecciona ningún objetivo.</p>

<p><span class="mplain"><strong>Cartas relacionadas</strong>: <a href="/card/01044" target="_blank">Lágrimas de Lys</a>, <a href="/card/02115" target="_blank">Tyene Arena</a>, <a href="/card/04036" target="_blank">Filo venenoso</a>, <a href="/card/01116" target="_blank">Rocagrís</a>, <a href="/card/02112" target="_blank">Bendición del Dios Ahogado</a>, <a href="/card/04022" target="_blank">El miedo hiere más que las espadas</a></span></p>

<h3 id="informacionabierta"><span class="trans">Información abierta</span></h3>

<p><span class="trans">La información abierta es cualquier información sobre el juego, estado del juego o cartas que está disponible para todos los jugadores. Esto incluye cartas boca arriba y en la pila de descartes, pila de muertos o pila de tramas usadas de un jugador, el número de cartas en la mano o mazo de un jugador, la cantidad de oro y poder que posee un jugador, y cualquier otra información que esté continúamente disponible para todos los jugadores.</span></p>

<p><span class="trans">Todos los jugadores tienen permitido el acceso a la información abierta y no pueden ocultarla a un oponente u omitir detalles específicos. Un jugador debe permitir a su oponente descubrir esta información por ellos mismo si así lo quieren.</span></p>

<h3 id="informacionindirecta"><span class="trans">Información indirecta</span></h3>

<p><span class="trans">La información indirecta es toda información sobre el juego, el estado del juego o cartas que todos los jugadores han tenido oportunidad de tener conocimiento a través de efectos del juego o de cartas, o a través de un proceso de deducción usando información abierta. Esto incluye cualquier atributo modificado o texto de una carta, fichas asignadas a cartas, elecciones hechas por un jugador o acciones tomadas por un jugador que todavía afectan al estado del juego o a una(s) carta(s), etc.</span></p>

<p><span class="trans">La información indirecta se puede marcar con el uso de una ficha u otro inidcador para que los jugadores recuerden la información. Un jugador no puede indicar incorrectamente una información indirecta, u ocultar la información abierta necesaria para descubrir una información indirecta.</span></p>

<p><span class="trans">Si la información indirecta depende la acción o decisión previa de un jugador, éste debe responder honradamente cuando sea preguntado por dicha acción o decisión. Por ejemplo, María elige Militar cuando muestra la trama <a href="/card/01008" target="_blank">Calma sobre Poniente</a> (8 de la caja básica). Durante la fase de Reto, Juan no se acuerda y le pregunta a María que tipo de reto eligió para Calma sobre Poniente. María debe responder honradamente que eligió Militar.</span></p>

<p><span class="trans">Si la información indirecta se vuelve información oculta, el jugador que hizo una acción o tomó una decisión relacionada a esa información no está obligado a divulgar ningún detalle sobre dicha decisión o acción. Por ejemplo, Juan muestra la trama <a href="/card/01022" target="_blank">Llamamiento</a> y elije a Ser Jaime Lannister, mostrándole la carta a María. Más tarde, en esa ronda, María no recuerda que carta eligió Juan con Llamamiento, pero Juan no tiene obligación de decirsela, ya que Ser Jaime Lannister ha pasado a ser información oculta (al ir a la mano de Juan) después de que el efecto de Llamamiento se haya terminado de resolver.</span></p>

<h3 id="informacionoculta"><span class="trans">Información oculta</span></h3>

<p><span class="trans">La información oculta es toda información sobre el juego, estado del juego o cartas no disponible para uno o más jugadores. Esto incluye las cartas en la mano de un jugador, las tramas sin usar, etc. Si una carta se muestra temporalmente, se considera información indirecta hasta que el jugador o jugadores identifique inequívocamente dicha carta.</span></p>

<p><span class="trans">Un jugador no puede conocer una información oculta sin ayuda de un efecto de juego, regla u otro jugador que comunique verbalmente la información. Sin embargo, si un jugador que tiene acceso a una información oculta sobre el juego o una carta y decide compartirla verbalmente, no está obligado a decir la verdad.</span></p>

<h3 id="terminal">Terminal</h3>

<p>La palabra “Terminal” se utiliza para definir un efecto duradero o
capacidad constante que provoca de manera continuada la expulsión
de una carta fuera del juego mientras dicha carta se encuentre
en tal estado. Un ejemplo de este estado es el que se da con el
siguiente enunciado: <em>“Hasta el final de la fase, ese Personaje muere si
su FUE es 0”.</em></p>

<p><span class="mplain"><strong>Cartas relacionadas</strong>: <a href="/card/01173" target="_blank">Plaza del castigo</a>, <a href="/card/01176" target="_blank">¡Dracarys!</a>, <a href="/card/02034" target="_blank">Corona de oro</a>, <a href="/card/02075" target="_blank">Sangre de dragón</a>.</span></p>

<h1 id="aclaracionesalasreglas">Aclaraciones a las reglas</h1>

<p>Esta sección contiene aclaraciones y revisiones oficiales de las reglas
básicas del juego. Los epígrafes se presentan numerados para
facilitar la referencia a la hora de dictaminar resoluciones concernientes
a las reglas, resolver dudas y realizar consultas generales.</p>

<p>Este documento ha de utilizarse en combinación con la <em>Guía de
referencia</em> del juego para establecer las reglas. Si cualquier parte
de este documento contradice de forma directa algún enunciado
de la <em>Guía de referencia</em>, siempre se dará prioridad al contenido del
presente documento.</p>

<h2 id="1.mecánicadejuego">1. Mecánica de juego</h2>

<h3 id="1.1buclesinfinitos">(1.1) Bucles infinitos</h3>

<p>Mediante determinadas combinaciones de cartas es posible crear
un “bucle infinito” (por ejemplo, hacer que dos cartas se arrodillen
para ponerse en pie mutuamente por un tiempo indefinido). Si un
jugador lleva a cabo uno de estos bucles, deberá seguir estos dos
pasos:</p>

<ol>
<li>Mostrar claramente el bucle infinito a su adversario (y al juez
del torneo, si su adversario lo requiere). El jugador deberá mostrar
el funcionamiento de un ciclo completo del bucle, empleando
todas las cartas involucradas en él.</li>
<li>Declarar cuántas veces desea ejecutar el bucle. Por ejemplo, el
jugador podría decir “voy a ejecutar este bucle diecisiete veces”.
Luego deberá resolver el bucle al instante, tantas veces como
haya declarado. Si la ejecución del bucle hace que el jugador
gane la partida, ésta se da por finalizada con su victoria.</li>
</ol>

<p>Nunca debe abusarse de un bucle infinito para retrasar o estancar
una partida.</p>

<p>Cuando se resuelven las capacidades implicadas en un bucle, los
jugadores no están obligados a tomar decisiones que eviten la continuación
de dicho bucle. Por ejemplo, si el único modo de interrumpir
un bucle consiste en que uno de los jugadores tome una
decisión que no desea tomar, no tiene por qué hacerlo: dado que en
teoría el jugador puede prolongar la duración del bucle indefinidamente,
se le permite poner fin a la secuencia de manera voluntaria
una vez completado el número declarado de ejecuciones sin que
por ello tenga que tomar esa decisión no deseada.</p>

<p><span class="mplain"><strong>Cartas relacionadas</strong>: <a href="/card/02084" target="_blank">Mover los hilos</a>.</span></p>

<h3 id="1.2duplicados">(1.2) Duplicados</h3>

<p>Para poner en juego una carta como duplicado, tanto ésta como la
carta única que va a ser duplicada deben pertenecer y estar controladas
por el jugador que va a intentar la duplicación.</p>

<p>Un jugador no puede poner en juego una carta única como duplicado
si ya tiene otra copia de esa carta única en su pila de muertos.</p>

<p>Un jugador no puede reclutar una carta Limitada como duplicado
si ya ha reclutado o jugado una carta Limitada en la misma ronda.
Reclutar una carta Limitada como duplicado se cuenta como uso
de carta Limitada del jugador en esa ronda.</p>

<p><span class="mplain"><strong>Nota</strong>: Tomar el control de una carta no te da el control de sus duplicados o cartas vinculadas.</span></p>

<p><span class="mplain"><strong>Cartas relacionadas</strong>: <a href="/card/02064" target="_blank">El Rejo</a>, <a href="/card/05017" target="_blank">Colmillo Dorado</a>.</span></p>

<h3 id="1.3cartasúnicasenjuegoyenlapilademuertos">(1.3) Cartas únicas en juego y en la pila de muertos</h3>

<p>A continuación se definen las reglas de control y propiedad de las
cartas únicas:</p>

<ul>
<li>Un jugador no puede reclutar, poner en juego ni tomar el
control de una carta única si ya hay otra copia de esa carta en
su pila de muertos.</li>
<li>Un jugador no puede poner en juego una copia de una carta
única de un adversario si ya hay otra copia de esa carta
única (propiedad del jugador que intenta poner en juego la
carta o del adversario dueño de la carta única que intenta
entrar en juego) bien en juego, bien en la pila de muertos de
su propietario.</li>
<li>Una capacidad que pone en juego una carta única desde la
pila de muertos de un jugador solamente funciona si al resolverse
no hay otras copias de esa carta en esa pila de muertos.</li>
<li>Si un jugador controla una carta única que no le pertenece,
ese jugador no puede reclutar ni poner en juego copias adicionales
de esa carta, sin importar a quién pertenezcan.</li>
<li>Si un jugador controla una carta única (sin importar a quién
pertenezca), no puede tomar el control de otras copias de esa
carta.</li>
<li>Si un jugador controla una carta única que además le pertenece,
cualquier otra copia de esa carta que posea y controle, y
que vaya a entrar en juego, lo hará como duplicado.</li>
</ul>

<p><span class="mplain"><strong>Cartas relacionadas</strong>: <a href="/card/01069" target="_blank">Euron Greyjoy</a>, <a href="/card/01129" target="_blank">Yoren</a>, <a href="/card/04046" target="_blank">La noche se avecina…</a>.</span></p>

<h3 id="1.4controldefichas">(1.4) Control de fichas</h3>

<p>Las fichas no se consideran controladas por ningún jugador. En
vez de eso, existen en zonas de juego (como por ejemplo el suministro
de Oro de un jugador) controladas por un jugador, o bien
sobre cartas (como cartas de facción o Personajes) controladas por
un jugador.</p>

<ul>
<li>El Poder total de un jugador se determina sumando todo el
Poder acumulado sobre las cartas que controla.</li>
<li>A menos que una capacidad especifique lo contrario, un jugador
solamente puede usar fichas que se encuentren en zonas
de juego o cartas controladas por él a fin de pagar costes.</li>
</ul>

<h2 id="2.interpretacióndecapacidadesdecartas">2. Interpretación de capacidades de cartas</h2>

<h3 id="2.1nopuedevariable">(2.1) No puede {variable}</h3>

<p>Si una carta “no puede {variable}”, siendo {variable} algo que vaya a
ocurrirle a dicha carta (como por ejemplo “morir”, “ser descartada”
o “arrodillarse”), esa carta no puede ser seleccionada como objeto
de tal resultado por ninguna capacidad o efecto de juego que pretenda
hacerlo. Además, una carta que no puede {variable} ignora
todas las capacidades o efectos de juego que le apliquen dicha variable,
incluso aquéllos que no seleccionen ningún objetivo.</p>

<p><em>Ejemplo: Una carta que “no puede morir” no puede escogerse para cumplir el efecto de Conquista de un reto Militar ni tampoco como objetivo de una capacidad que la mate, y además ignoraría el efecto de una capacidad que tuviera el enunciado “Mata a todos los Personajes que estén en juego”.</em></p>

<p><span class="mplain"><strong>Cartas relacionadas</strong>: <a href="/card/02098" target="_blank">El Nido de Águilas</a>.</span></p>

<h3 id="2.2efectospostergadoseinmunidad">(2.2) Efectos postergados e inmunidad</h3>

<p>A fin de determinar si una carta es o no inmune a un efecto postergado,
éste se considera un efecto de la carta y tipo de carta que
lo ha provocado.</p>

<p><span class="mplain"><strong>Cartas relacionadas</strong>: <a href="/card/01044" target="_blank">Lágrimas de Lys</a>, <a href="/card/02059" target="_blank">Un torneo para el rey</a>.</span></p>

<h3 id="2.3objetivosdereferencia">(2.3) Objetivos de referencia</h3>

<p>Algunas capacidades requieren que se seleccione un objetivo que
no se ve afectado directamente por ellas (se elige tan sólo como
referencia mientras se resuelve la capacidad). A la hora de seleccionar
estos objetivos de referencia, el jugador es libre de ignorar
la regla que impide la selección de un objetivo si la resolución del
efecto no puede afectarle.</p>

<p><em>Ejemplo: La carta <a href="/card/01026" target="_blank">Asalto con fuego valyrio</a> (26 de la caja básica) permite a cada jugador seleccionar hasta 3 Personajes que controle, y luego se resuelve su efecto sobre los Personajes que no se hayan elegido. Los objetivos escogidos por esta capacidad son “objetivos de referencia”, y pueden escogerse de entre aquéllos a los que el Asalto con fuego valyrio no afecte, puesto que lo contrario sería imposible (los objetivos seleccionados por la capacidad nunca se verán afectados por su efecto).</em></p>

<h2 id="3.situacionesdinámicas">3. Situaciones dinámicas</h2>

<h3 id="3.1salvarsedelestadoterminal">(3.1) Salvarse del estado Terminal</h3>

<p>Cuando haya que determinar si un efecto de salvación tiene la posibilidad
de remediar un estado Terminal vigente, solamente ha de
anticiparse la aplicación de todos los aspectos del efecto que esté
causando la salvación, así como todos los efectos duraderos y capacidades
constantes que vayan a afectar a la carta tras la aplicación
del efecto.</p>

<p><span class="mplain"><strong>Cartas relacionadas</strong>: <a href="/card/03002" target="_blank">Catelyn Stark</a> (Lobos del norte) + <a href="/card/03008" target="_blank">Jory Cassel</a>, <a href="/card/03013" target="_blank">Sansa Stark</a> (Lobos del Norte) + <a href="/card/02094" target="_blank">Ritual mágico de sangre</a>.</span></p>

<h3 id="3.2decisionesdejugadorcuandoseinicianhabilidades"><span class="trans">(3.2) Decisiones de jugador cuando se inician habilidades</span></h3>

<p><span class="trans">Las decisiones de los jugadores realizadas como parte del proceso de iniciar una habilidad o reclutar una carta (<a href="/rulesreference#iniciodecapacidadesyreclutamientodecartas" target="_blank">página 11 de la <em>Guía de referencia</em></a>), incluyendo aquellas donde se eligen objetivos, están restringidas a aquellas establecidas como opciones legales durante el Paso 1 de dicho proceso, donde se comprueba si se puede iniciar la habilidad.</span></p>

<p><span class="trans">Si se produce un cambio en el estado del juego entre el Paso 1 y el Paso 7 que crea una situación en la que no hay objetivos válidos en el momento en que éstos son elegidos, o una situación en la que se debe tomar una decisión pero no hay opciones válidas, la habilidad se considera resuelta sin éxito. Un evento que se resuelve sin éxito se coloca en la pila de descartes de su propietario.</span></p>

<h3 id="3.3iconoderetos"><span class="trans">(3.3) Iconos de retos</span></h3>

<p><span class="trans">Se considera que un Personaje puede tener un icono de reto o no tenerlo. Un solo Personaje que tiene y/o recibe el mismo icono de reto de diferentes fuentes funciona como si tuviera una única instancia de ese icono.</span></p>

<h1 id="validezdecartas">Validez de cartas</h1>

<p>En los torneos distendidos y formales, todos los productos son válidos
desde su publicación oficial hasta el momento en que tenga
lugar su rotación (de ser aplicable). En los torneos de categoría
preferente, todos los productos son válidos a partir de los 14 días
posteriores a su publicación oficial para garantizar que todos los
participantes disponen de la oportunidad de adquirir y familiarizarse
con todos ellos. La lista de productos válidos más reciente
está disponible en la página web de Edge Entertainment:</p>

<p><a href="http://www.edgeent.com/juegos/coleccion/juego_de_tronos_el_juego_de_cartas_2a_edicion" target="_blank">http://www.edgeent.com/juegos/coleccion/juego_de_tronos_el_juego_de_cartas_2a_edicion</a></p>

<h2 id="listadecartasvetadas">Lista de cartas vetadas</h2>

<p>Las cartas incluidas en esta lista no pueden utilizarse en ningún
torneo.</p>

<p><strong>Actualmente no hay ninguna carta vetada.</strong></p>

<h2 id="listadecartasrestringidas">Lista de cartas restringidas</h2>

<p>Un jugador puede seleccionar una carta de esta lista para un mazo,
y no puede incluir ninguna otra carta restringida en ese mismo
mazo. Un jugador puede llevar en su mazo tantas copias de la carta
restringida que ha escogido como lo permitan las reglas habituales
del juego (o el enunciado de reglas de la carta en cuestión).</p>

<p><strong>Actualmente no hay ninguna carta restringida.</strong></p>

<h1 id="preguntasmásfrecuentes">Preguntas más frecuentes</h1>

<p>En esta sección se responden algunas de las dudas que suelen plantearse
con más frecuencia durante el juego. Se presentan en un
formato de “pregunta y respuesta”; las más recientes se añaden al
final de la lista.</p>

<h3 id="faq_1">Catelyn Stark</h3>

<p><em><strong>¿Qué capacidades impide usar <a href="/card/01143" target="_blank">Catelyn Stark</a> (143 de la caja básica) a
un adversario?</strong></em></p>

<p>Catelyn impide que un adversario utilice <strong>capacidades activadas
de cartas que él mismo vaya a iniciar</strong>. Las capacidades
activadas se identifican mediante un momento de
activación resaltado en negrita, como por ejemplo <strong>Acción,
Interrupción, Reacción, Acción de Dominación</strong> y demás.
Catelyn impide que un adversario inicie este tipo de capacidades
resaltadas en negrita. Sin embargo, las capacidades
<strong>obligadas</strong> y las que se resuelven <strong>cuando se muestra (una)
carta</strong> se inician automáticamente como parte de la mecánica
del juego (así que no las inicia el jugador que controla
la carta), de modo que Catelyn no puede impedir estos dos
tipos de capacidades activadas. Además, utilizar un duplicado
se define como capacidad activada del <em>juego</em> (y no de una
carta), así que Catelyn tampoco impide el uso de duplicados.
Por último, una capacidad que no vaya precedida por una
expresión en negrita que identifique el momento en que se
activa (por ejemplo, una palabra clave como Emboscada) no
se considera capacidad activada, y en consecuencia no se ve
impedida por el texto de reglas de Catelyn.</p>

<h3 id="faq_2">Melisandre + Visión en el Fuego</h3>

<p><em><strong>¿En qué momento puedo activar la reacción de <a href="/card/01047" target="_blank">Melisandre</a> (47 de la
caja básica) a un caso en que se “juega” un Evento de R’hllor como el de
<a href="/card/01064" target="_blank">Visión en el fuego</a> (64 de la caja básica): antes o después de que tenga
lugar el efecto de Visión en el fuego?</strong></em></p>

<p>El acto de jugar un Evento supone pagar sus costes, resolver
sus efectos (o que se anulen los mismos) y colocar el Evento
en la pila de descartes de su propietario. Las reacciones al
acto de jugar un Evento solamente se pueden activar después
de haberse completado todo este proceso. Por lo tanto,
el efecto de Visión en el fuego se resuelve antes de que pueda
activarse la reacción de Melisandre al hecho en sí de que se
juegue dicho Evento.</p>

<h3 id="faq_3">El juicio de la Mano</h3>

<p><em><strong>Si estoy jugando <a href="/card/01045" target="_blank">El juicio de la Mano</a> (45 de la caja básica) desde
mi mano, y mi adversario utiliza otra carta de Evento para tratar de
anular El juicio de la Mano, ¿puedo intentar jugar esa misma copia
de mi El juicio de la Mano por segunda vez para anular el Evento de
mi adversario?</strong></em></p>

<p>El precedente de jugar una carta de Evento implica declarar
tu intención de jugar esa carta y mostrarla en caso de que sea
necesario (<a href="/rulesreference#iniciodecapacidadesyreclutamientodecartas" target="_blank">página 11 de la Guía de referencia</a>). Si se muestra
una carta de este modo y se encuentra en el proceso de ser
jugada, esa misma carta no puede mostrarse desde la mano
con la intención de jugarse una vez adicional (no obstante, sí
que podrías jugar otra copia de esa carta).</p>

<h3 id="faq_4">Nymeria Arena</h3>

<p><em><strong>¿Puedo usar a <a href="/card/02035" target="_blank">Nymeria Arena</a> (35 del ciclo de Poniente) para hacer
que un Personaje pierda un icono de reto que no posee actualmente, a fin
de que todos mis Personajes Serpiente de arena ganen ese icono?</strong></em></p>

<p>Sí. La capacidad de Nymeria Arena carece de restricciones
a la selección de objetivos más allá de “elige un Personaje de
un adversario”, de modo que se puede seleccionar a cualquier
Personaje de un adversario. Si escoges un tipo de icono que
el Personaje elegido no posee, el efecto duradero que le hace
perder un icono de ese tipo se aplica igualmente mientras
dure la capacidad (esto también significa que el Personaje habría
de ganar una vez adicional ese tipo de icono para poder
actuar como si lo tuviese). Por último, que acto seguido tus
Personajes <em><strong>Serpiente de arena obtengan</strong></em> ese tipo de icono no
depende de que el Personaje de tu adversario haya perdido
previamente una versión funcional del mismo.</p>

<p><span class="mplain"><strong>Nota</strong>: También se aplica a las palabras clave.</span></p>

<p><span class="mplain"><strong>Cartas relacionadas</strong>: <a href="/card/02076" target="_blank">Maestre de Campoestrella</a>.</span></p>

<h3 id="faq_5">Accesorios durante la preparación</h3>

<p><em><strong>Si durante la preparación de la partida coloco un Accesorio que tendría
un objetivo válido entre las otras cartas que he colocado, ¿después de
mostrar las cartas de inicio puedo optar por vincularlo a un objetivo
válido que esté entre las cartas de inicio de un adversario?</strong></em></p>

<p>No. Las cartas de inicio solamente pueden vincularse a cartas
mostradas que controles tú.</p>

<h3 id="faq_6">Accesorios durante la preparación #2</h3>

<p><em><strong>Cuando vinculo mis cartas durante la preparación de la partida, ¿tengo
que vincularlas todas a la vez, o de una en una?</strong></em></p>

<p>Todos los Accesorios de un jugador se vinculan simultáneamente
durante la preparación de la partida. Al colocar estas
cartas de inicio, no se puede utilizar un Accesorio para dar
lugar a una situación en la que otro Accesorio pueda vincularse
de manera válida. En otras palabras, no puedes colocar
como carta de inicio <a href="/card/02058" target="_blank">Nombrado caballero</a> (58 del ciclo de
Poniente) vinculado a un Personaje que no sea <em><strong>Caballero</strong></em> para
poder colocar también como carta de inicio una <a href="/card/02044" target="_blank">Yegua en
celo</a> (44 del ciclo de Poniente) vinculada al mismo Personaje.</p>

<p>Una vez completado el proceso de vincular cartas durante la
preparación, si se da el caso de que un Accesorio vinculado
invalida la vinculación de otro Accesorio, éste debe descartarse
de inmediato.</p>

<h3 id="faq_7">Atacando solo</h3>

<p><em><strong>Si gano un reto en el que controlo dos Personajes Caballero atacantes,
y uno de ellos es seleccionado como objetivo de <a href="/card/01116" target="_blank">Rocagrís</a> (116 de la caja
básica), que lo devuelve a mi mano y me deja con un solo Personaje
Caballero atacante, ¿puedo jugar luego <a href="/card/02024" target="_blank">La rosa de lady Sansa</a> (24
del ciclo de Poniente) en virtud de ese único Caballero que ahora está
atacando solo?</strong></em></p>

<p>Sí, puedes hacerlo. El texto de reglas de La rosa de lady Sansa
dice “&#8230; en el que controles un Personaje <em><strong>Caballero</strong></em> que
esté atacando solo”, y la condición de que esté atacando solo
se comprueba en el momento en que va a jugarse el Evento.</p>

<h3 id="faq_8">Cartas limitadas durante la preparación</h3>

<p><em><strong>Si juego una carta Limitada como duplicado, ¿cuenta como la carta Limitada
que puedo jugar en la ronda actual?</strong></em></p>

<p>Sí. La palabra clave Limitada se comprueba durante el primer
paso de la secuencia de juego detallada en la página
<a href="/rulesreference#iniciodecapacidadesyreclutamientodecartas" target="_blank">11 de la <em>Guía de referencia</em></a>, en el que se plantea la pregunta
“¿puede reclutarse o jugarse la carta, o iniciarse la capacidad,
en el momento actual?”. Para jugar un duplicado, un
jugador ha de verificar diversos factores durante este paso:
que la carta es única, que posee y controla una copia de esa
carta en juego, y que no hay ninguna copia de esa carta en su
pila de muertos. Si la carta que va a jugarse como duplicado
es Limitada, el jugador también debe comprobar que no ha
reclutado ni jugado una carta Limitada en la ronda actual. Si
el jugador no ha reclutado ni jugado una carta Limitada en la
ronda actual, y procede con el reclutamiento de la carta, ésta
se cuenta como su carta Limitada para la ronda.</p>

<p><span class="mplain"><strong>Cartas relacionadas</strong>: <a href="/card/02064" target="_blank">El Rejo</a>, <a href="/card/05017" target="_blank">Colmillo Dorado</a>.</span></p>

<h3 id="faq_9">Lobos del Norte</h3>

<p><em><strong>Pongamos que declaro como atacantes dos copias de la carta <a href="/card/03006" target="_blank">Lobos del
Norte</a> (6 de la expansión Lobos del Norte). ¿Puede cada una de estas
copias seleccionar al mismo objetivo con su Sigilo cuando tenga que declarar
los objetivos del Sigilo?</strong></em></p>

<p>El momento en que han de declararse los objetivos del Sigilo
se considera simultáneo a la declaración del reto, el adversario
y los atacantes. Sin embargo, cada objetivo del Sigilo se
declara de manera independiente, y cada copia de Lobos del
Norte puede seleccionar al mismo objetivo para resolver sus
respectivos efectos de Sigilo.</p>

<h3 id="faq_10">Consejero de los Rumores + Juicio por combate</h3>

<p><em><strong>¿Cómo interactúa la capacidad del Título <a href="/card/01206" target="_blank">Consejero de los Rumores</a>
(206 de la caja básica) con los efectos de sustitución o ajuste de Conquista
de otras cartas como <a href="/card/02090" target="_blank">Juicio por combate</a> (90 del ciclo de Poniente),
<a href="/card/02096" target="_blank">Vengar a Elia</a> (96 del ciclo de Poniente) y <a href="/card/02093" target="_blank">Mirri Maz Duur</a> (93 del
ciclo de Poniente)?</strong></em></p>

<p>La capacidad del Consejero de los Rumores no es en sí misma
una capacidad de sustitución de Conquista, y por lo tanto
interactúa con tales efectos en la medida de lo posible, según
el enunciado concreto del efecto en cuestión.</p>

<p>En el caso del Juicio por combate, cada adversario que elijas
sufre el efecto de la Conquista Militar.</p>

<p>En el caso de Vengar a Elia, el jugador que haya perdido el
reto (si el jugador Consejero de los Rumores decide que es el
perdedor del reto quien resuelva la Conquista) puede hacer
que otro adversario sufra el efecto de Conquista en su lugar,
y el atacante también puede resolver el efecto de Conquista
contra algunos o todos los demás adversarios. Es preciso señalar
que si un jugador ya es el responsable de satisfacer el resultado
de Conquista (debido al Consejero de los Rumores) y
es seleccionado como objetivo de Vengar a Elia, únicamente
se le aplicará una vez el resultado de la Conquista, y al hacerlo
se satisfacen ambas obligaciones.</p>

<p>En el caso de Mirri Maz Duur, su capacidad requiere que
selecciones y mates a un Personaje controlado por el adversario
derrotado. Como esta capacidad solamente selecciona un
Personaje para morir, la resolución de la Conquista de Mirri
contra otros adversarios no tiene ningún efecto, y por tanto
no se produce interacción alguna entre estas dos cartas.</p>

<h3 id="faq_11">Vista de dragón</h3>

<p><em><strong>Si juego <a href="/card/03036" target="_blank">Vista de dragón</a> (36 de la expansión Lobos del Norte) en la
ventana de acción de retos antes de declarar a los defensores, ¿se aplica su
efecto a todos los defensores que sean declarados posteriormente?</strong></em></p>

<p>No. Si una capacidad origina un efecto duradero que afecta a
un conjunto de cartas, tan sólo afectará a las cartas que sean
objetivos válidos en el momento en que se juega el Evento.
Y a la inversa, si un Personaje que había estado participando
en un reto y estuviese bajo los efectos de la Vista de dragón
fuese retirado del reto de algún modo, el efecto duradero
permanecerá vigente sobre ese Personaje hasta el final del
reto, sin importar que esté o no participando en el mismo.</p>

<p><span class="mplain"><strong>Nota</strong>: También se aplica a las habilidades de personajes.</span></p>

<p><span class="mplain"><strong>Cartas relacionadas</strong>: <a href="/card/02035" target="_blank">Nymeria Arena</a> + <a href="/card/04016" target="_blank">Harmen Uller</a></span></p>

<h3 id="faq_12">Efectos múltiples de &#8220;tomar el control&#8221;</h3>

<p><em><strong>¿Cómo interactúan entre sí múltiples efectos que permitan “tomar el
control”? Por ejemplo, si un adversario toma el control de mi Personaje
con <a href="/card/01139" target="_blank">Vestir el negro</a> (139 de la caja básica), y luego otro adversario toma
el control de ese mismo Personaje con <a href="/card/01102" target="_blank">Pupilo</a> (102 del ciclo de Poniente),
¿qué le ocurre al Personaje si el Pupilo es descartado luego?</strong></em></p>

<p>Cuando expira o cesa un efecto que cambia el control de un
componente, el control de la carta regresa al jugador que tuviese
vigente el segundo efecto de control más reciente sobre
esa carta (si ningún jugador posee un efecto de control
aplicable a esa carta, el propietario de la misma recupera su
control). En este caso concreto, cuando el Pupilo abandona
el juego, el control del Personaje se devuelve al jugador que
había tomado el control del mismo mediante Vestir el negro.</p>

<h3 id="faq_13">Resolviendo palabras claves</h3>

<p><em><strong>Si gano un reto en el que controlo tanto a <a href="/card/02049" target="_blank">Ser Gregor Clegane</a> (49 del ciclo de Poniente) como a <a href="/card/01069" target="_blank">Euron Ojo de Cuervo</a> (69 de la caja básica), ¿que jugador elije el orden en el que se resuelve sus habilidades de Pillaje?</strong></em></p>

<p>Como controlador de los dos Personajes, puedes elegir el orden en el que se resuelven sus habilidades de Pillaje. Aunque el Primer jugador determina el orden en el que las palabras claves son procesadas, por tipo, el Primer jugador no determina el orden en el que se resuelven las palabras clave de un mismo tipo. Dado que cada instancia de Pillaje es opciona, el controlador de los Personajes con Pillaje decide en que orden se resuelven.</p>

<h3 id="faq_14">Procesando palabras claves</h3>

<p><em><strong>¿Que sucede si un personaje gana una palabra clave relativa a la resolución de retos cuando otra palabra clave está siendo procesada?</strong></em></p>

<p>Cada tipo de palabra clave solo puede ser procesada una vez durante la resolución del reto. Si un personaje gana una palabra clave después de que dicha palabra clave ya haya sido procesada, la instancia de la palabra clave de ese Personaje no se resolverá. Sin embargo, si un Personaje gana una palabra clave que aún no ha sido procesada, o que está siendo procesada actualmente, esa instancia de palabra clave podrá resolverse. Nótese que una palabra clave solo puede ser procesada si hay una instancia presente en el reto.</p>

<p><span class="mplain"><strong>Cartas relacionadas</strong>: <a href="/card/05007" target="_blank">Chella, hija de Cheyk</a>.</span></p>

<h3 id="faq_15">El acertijo de Varys + Cosecha estival</h3>

<p><em><strong>Si muestro la trama <a href="/card/04020" target="_blank">El acertijo de Varys</a> (20 del ciclo de La Guerra de los Cinco Reyes) y mi oponente muestra la trama <a href="/card/04039" target="_blank">Cosecha estival</a> (39 del ciclo de La Guerra de los Cinco Reyes), ¿cuál será el valor base de oro de Cosecha estival?</strong></em></p>

<p>El acertijo de Varys te permite iniciar la habilidad de Cosecha estival como si la hubieras mostrado tú. Esto quiere decir que la habilidad de Cosecha estival se activa dos veces: una será la activada por la versión &#8220;original&#8221; de tu oponente, mientras que la otra será la versión &#8220;como si tú la acabases de mostrar&#8221;, que cambia quien es un objetivo elegible para &#8220;Elije un oponente&#8221;. Cada una de estas habilidades intentará definir el valor de Oro de Cosecha estival: la &#8220;original&#8221; mirará el valor de oro impreso en El acertijo de Varys (que es 5) y define su valor base de oro como 7, mientras que la otra mirará el valor de oro impreso en Cosecha estival (que es X, tratada como 0) y define su valor base de oro como 2. Como estos dos efectos duraderos no pueden ser aplicados simultáneamente, el Primer jugador decide el orden en el que se aplican, y el valor base de oro de Cosecha estival será 2 o 7 en base a la decisión del Primer jugador.</p>

<h1 id="referenciarápida">Referencia rápida</h1>

<p>En esta sección se ofrece información sobre el juego en un formato
abreviado para agilizar su consulta a la hora de dirimir ciertas situaciones
que se dan con frecuencia durante el juego.</p>

<h2 id="secuenciadeaplicaciónderesultadosdelosretos">Secuencia de aplicación de resultados de los retos</h2>

<p>Para aplicar los resultados de un reto deben seguirse los pasos que
se enumeran a continuación:</p>

<ol>
<li>Determinar el resultado del reto.</li>
<li>Sin oposición.</li>
<li>Conquista.</li>
<li>Palabras clave.</li>
</ol>

<h2 id="secuenciadefinaldefase">Secuencia de final de fase</h2>

<p>Muchas capacidades aluden al final de una fase de diversas maneras.
A continuación se detalla el orden específico en que han de
resolverse estas secuencias.</p>

<ol>
<li>Pueden utilizarse interrupciones al final de la fase.</li>
<li>Expiran las capacidades duraderas que estén en vigor “hasta
el final de la fase”, así como las capacidades que estén en vigor
“durante la fase X”. Este paso marca el preciso instante en que finaliza
la fase, y todo lo que suceda a consecuencia de los dos pasos
siguientes tiene lugar fuera de la fase.</li>
<li>Se resuelven los efectos postergados que tienen lugar “al final
de la fase”.</li>
<li>Pueden utilizarse reacciones al final de la fase.</li>
</ol>

<p>Este procedimiento puede generalizarse y utilizarse en referencia
al final de otros ciclos similares, como puede ser el final de un reto
o el final de una ronda.</p>
