<style>
span.new	{ color:red }
h2			{ font-style:italic }
th			{ background-color: #ccc }
td			{ text-align:center; border: 1px solid black; border-collapse:collapse }
</style>

<h1>Table of Contents</h1>
<nav>
<ol>
<li><a href="#Tournament_Participant_Roles">Tournament Participant Roles</a></li>
	<ol>
	<li><a href="#Organizer">Organizer</a></li>
	<li><a href="#Marshal">Marshal</a></li>
	<li><a href="#Judge">Judge</a></li>
	<li><a href="#Player">Player</a></li>
	<li><a href="#Spectator">Spectator</a></li>
	<li><a href="#Leader_Participation">Leader Participation</a></li>
	<li><a href="#Conduct">Conduct</a></li>
		<ol>
		<li><a href="#Unsporting_Conduct">Unsporting Conduct</a></li>
		</ol>
	</ol>
<li><a href="#Tournament_Materials">Tournament Materials</a></li>
	<ol>
	<li><a href="#Organizer_Materials">Organizer Materials</a></li>
	<li><a href="#Player_Materials">Player Materials</a></li>
		<ol>
		<li><a href="#Deck_Building">Deck Building</a></li>
		<li><a href="#Deck_Lists">Deck Lists</a></li>
		<li><a href="#Card_Sleeves">Card Sleeves</a></li>
		<li><a href="#Lost_and_Damaged_Cards">Lost and Damaged Cards</a></li>
		<li><a href="#Tokens">Tokens</a></li>
		<li><a href="#Legal_Products">Legal Products</a></li>
		</ol>
	</ol>
<li><a href="#Tournament_Play">Tournament Play</a></li>
	<ol>
	<li><a href="#Tournament_Setup">Tournament Setup</a></li>
	<li><a href="#Game_Setup">Game Setup</a></li>
	<li><a href="#Missed_Opportunities">Missed Opportunities</a></li>
	<li><a href="#Taking_Notes_and_Outside_Material">Taking Notes and Outside Material</a></li>
	</ol>
<li><a href="#Tournament_Concepts">Tournament Concepts</a></li>
	<ol>
	<li><a href="#Tournament_Round_Times">Tournament Round Times</a></li>
	<li><a href="#Pairings">Pairings</a></li>
		<ol>
		<li><a href="#Swiss_Rounds">Swiss Rounds</a></li>
		<li><a href="#Progression_Cut">Progression Cut</a></li>
		<li><a href="#Single_Elimination_Rounds">Single Elimination Rounds</a></li>
		</ol>
	<li><a href="#End_of_Round">End of Round</a></li>
		<ol>
		<li><a href="#Going_to_Time">Going to Time</a></li>
		</ol>
	<li><a href="#Tournament_Points">Tournament Points</a></li>
		<ol>
		<li><a href="#Tiebreakers">Tiebreakers</a></li>
		</ol>
	</ol>
<li><a href="#Tournament_Structures">Tournament Structures</a></li>
	<ol>
	<li><a href="#Basic_Structure">Basic Structure</a></li>
	<li><a href="#Advanced_Structure">Advanced Structure</a></li>
	<li><a href="#Custom_Structure">Custom Structure</a></li>
	</ol>
<li><a href="#Tournament_Tiers">Tournament Tiers</a></li>
	<ol>
	<li><a href="#Relaxed">Relaxed</a></li>
	<li><a href="#Formal">Formal</a></li>
	<li><a href="#Premier">Premier</a></li>
	</ol>
</ol>
</nav>

<div style="text-align:justify">

<h1 ="Tournament_Regulations">Tournament Regulations - Version 1.2 / Effective 11.01.2016</h1>

<p><em>All changes and additions made to this document since the previous version are marked in <span class="new">red</span>.</em></p>

<p>Tournaments supported by the Organized Play ("OP") program for <em>A Game of Thrones: The Card Game</em>, sponsored by Fantasy Flight Games ("FFG") and its international partners, follow the rules provided in this document.<p>

<h1 id="Introduction">Introduction</h1>

<p>A tournament is a competition between <em>A Game of Thrones: The Card Game</em> players. After enrolling in the tournament, they are paired against one another in an organized fashion to play a game. After multiple games against different opponents, players are ranked according to their performance. Most tournaments conclude with the awarding of prizes to top finishers.</p>

<p>Tournaments are played using the rules provided in the <em>A Game of Thrones: The Card Game</em> Rules Reference and FAQ, both of which may be downloaded from the <em>A Game of Thrones: The Card Game</em> page of our website at any time. Additional rules for playing games in a tournament are detailed in this document.</p>

<p>This document explains important tournament concepts and provides the details for Joust tournaments<span class="new">, where players come to a tournament with pre-made decks and are paired in head-to-head games. When running an event with a different format, please also read the Alternate Format Regulations to learn any important differences.</span>.</p>

<h1 id="Tournament_Participant_Roles">Tournament Participant Roles</h1>

<p>Every person present at a tournament is a participant. Participants fulfill specific roles based on their responsibilities to the tournament. All participants share the responsibility of acting in a respectful manner toward one another. Please read the Fundamental Event Document for a detailed explanation of these roles. Participant leader roles are: organizer, judge, and marshal. Other roles include player and spectator.</p>

<h2 id="Organizer">Organizer</h2>

<p>An event must have exactly one organizer. The organizer is responsible for the oversight of the entire event, including both planning and execution. If the organizer does not assign a marshal for the event, the organizer must perform the responsibilities of the marshal role.</p>

<h2 id="Marshal">Marshal</h2>

<p>An event may have any number of marshals, including none. A marshal is an expert <span class="new">on the game’s rules and regulations and the final authority on their application during a tournament. A marshal also determines if unsporting conduct has occurred and what the appropriate remedy is, referring any recommendations for disqualification to the organizer. When a marshal is not actively performing his or her duties, he or she is a spectator and should communicate this change in status clearly.</span></p>

<h2 id="Judge">Judge</h2>

<p>An event may have any number of judges, including none. A judge is well versed in the game’s rules and regulations. A judge’s responsibilities include assisting players to resolve disputes and <span class="new">answering</span> questions regarding the game’s rules. <span class="new">When a judge is not actively performing judge duties, he or she is a spectator and should communicate this change in status clearly.</span></p>

<h2 id="Player">Player</h2>

<p>A player is an individual that plays <em>A Game of Thrones: The Card Game</em> at the event. A player must bring all components they need to play a game of <em>A Game of Thrones: The Card Game</em>. <span class="new">When a player is not actively engaged in a game of <em>A Game of Thrones: The Card Game</em>, he or she is a spectator.</span></p>

<h2 id="Spectator">Spectator</h2>

<p>A spectator is any individual at a tournament not actively engaging in another role. Spectators must not disturb an ongoing game, and cannot provide any input or assistance to players during their games.</p>

<h2 id="Leader_Participation">Leader Participation</h2>

<p>A leader may participate <span class="new">as a player</span> in a Relaxed tier tournament for which he or she is responsible only if there is a second leader present. The second leader must be announced at the beginning of the tournament and is responsible for all rulings for games in which the first leader is playing. If two leaders play one another, the marshal is responsible for any rulings during the game.</p>

<p>During Formal and Premier tier tournaments, leaders cannot participate <span class="new">as a player</span>. Leaders for Formal and Premier tournaments are expected to commit their full attention to organizing and overseeing the event.</p>

<h2 id="Conduct">Conduct</h2>

<p>All tournament participants are expected to act in a respectful and professional manner during a tournament. If players have a dispute during a competition and cannot resolve it themselves, they must call for a judge to resolve it and provide any rulings that are needed. All card interpretations during a tournament are a marshal’s responsibility, and he or she may overrule the rules documents when a mistake or error is discovered.</p>

<h3 id="Unsporting_Conduct">Unsporting Conduct</h3>

<p>Players are expected to behave in a mature and considerate manner, and to play within the rules
and not abuse them. This prohibits intentionally stalling a game for time, placing components
with excessive force, inappropriate behavior, treating an opponent with a lack of courtesy or
respect, cheating, etc. Collusion among players to manipulate scoring is expressly forbidden.</p>

<p>The organizer, at his or her sole discretion, may remove players from the tournament for <span class="new">unsporting</span> conduct.</p>

<h1 id="Tournament_Materials">Tournament Materials</h1>

<p>There are many materials and game components needed to facilitate a tournament. The organizer and players are both responsible for supplying certain items.</p>

<h2 id="Organizer_Materials">Organizer Materials</h2>

<p>In addition to arranging a location, the organizer is responsible for securing tables and chairs for each player. The organizer should have table numbers on hand or some other method of demarcation so players can easily find their seats at the beginning of each tournament round. The organizer is responsible for having blank deck lists and pens available if they are required for the event.</p>

<p>Finally, the organizer is also responsible for having all required rules documents on hand for reference during the event. This includes the <em>A Game of Thrones: The Card Game</em> Rules Reference, <em>A Game of Thrones: The Card Game</em> FAQ, <em>A Game of Thrones: The Card Game</em> Tournament Regulations (this document), any Event Outline relevant to the event, and any other relevant document for the event. Most of these documents can be found on the <em>A Game of Thrones: The Card Game</em> page of our website at <a href="http://www.fantasyflightgames.com/en/products/a-game-of-thrones-the-card-game-second-edition" target="_blank">www.fantasyflightgames.com</a>.</p>

<h2 id="Player_Materials">Player Materials</h2>

<p>Players are responsible for bringing all of the game components they need to play a game of <em>A Game of Thrones: The Card Game</em>. This includes all cards, sleeves, and tokens. They should make sure that they have a legal deck. When a deck list is required, players should bring a completed list or arrive at the venue early to fill one out.</p>

<h3 id="Deck_Building">Deck Building</h3>

<p><span class="new">Each player must build one draw deck and one plot deck to use for the duration of the tournament.</span> Each draw deck must contain one faction card and a minimum of 60 other cards. A player may also include one agenda card that does not count toward the 60-card minimum. There is no maximum size. However, players must be able to shuffle their deck without assistance and within a reasonable amount of time. Each plot deck must contain exactly seven cards.</p>

<span class="new">
<h3 id="Deck_Lists">Deck Lists</h3>

<p>Some events require players to submit deck lists, including their name and all associated cards in both of their decks to the organizer before the start of the tournament.</p>

<p>If a player includes a card in his or her deck with the same name as a different card that could legally be in the deck, he or she must uniquely identify that card on his or her deck list. The recommended way to uniquely identify a card is by including the full name of the product in which the card appeared in parenthesis. A player can ask a leader for specific instructions if they are unsure of the best method to uniquely identify a card.</p>

<p>Unique identification example: <em>Veronica includes Jon Snow in her draw deck, using the version from the Core Set. However, there are other cards with the name Jon Snow but different attributes and abilities in the game, so Veronica writes “Jon Snow (Core Set)” on her deck list.</em></p>

<p>If a leader discovers a player’s deck list missing appropriate information, he or she should find that player immediately and update the deck list based on the cards the player is using. If this would result in a significant and potentially advantageous change, the leader should consider investigating for possible cheating.</p>
</span>

<h3 id="Card_Sleeves">Card Sleeves</h3>

<p>Players are required to sleeve each draw deck and plot deck in identical opaque card sleeves for Formal and Premier events. Players may use different sleeves between decks, but all cards within a single draw or plot deck must be identical in size, color, texture, and condition. At Relaxed events, if a player is not using opaque card sleeves, he or she must make sure that all card backs in each of their decks have a uniform appearance. <span class="new">Players should bring a few spare sleeves for each of their decks in case a card sleeve breaks or becomes unusable during a tournament.</span></p>

<h3 id="Lost_and_Damaged_Cards">Lost and Damaged Cards</h3>

<p>If a player loses a card during a tournament, he or she has an opportunity to find a replacement, if necessary. Any player that discovers they are missing a card at the beginning of a round should notify a leader. The leader will give the player a short time extension to their game in order to find a replacement. If the player cannot find a replacement within that time, they must concede the game. If the player is unable to find a replacement by the start of the next round, they should be removed from the tournament.</p>

<p>During a game, if a player discovers they are missing a card from their deck, they must concede the game.</p>

<p>If a player’s card becomes damaged during the course of a tournament, he or she has an opportunity to find a replacement. If the player cannot find a replacement, he or she uses a proxy card in its place for the remainder of the tournament. A leader will create the proxy, including the card name, any information that is no longer legible or available on the damaged card, the name of the leader who created it, and the date it was created. The original card must be kept facedown and nearby, available for reference when the proxy card is played.</p>

<span class="new">
<h3 id="Tokens">Tokens</h3>

<p>Tokens are representations of information about the game or game state. The presence of tokens is marked by one or more indicators. Indicators may also be used to represent multiple tokens, or other open or derived information.</p>

<p>Typically, players use the cardboard tokens included in official product as indicators. However, players may choose to use other items as indicators, so long as they do not obscure significant component information, are resistant to accidental modification, and their purpose of use is clear to both players. The marshal is responsible for determining the legality of an indicator and its reasonable use during a match if objected to by its owner’s opponent.</p>
</span>

<h3 id="Legal_Products">Legal Products</h3>

<p>Players may use only official <em>A Game of Thrones: The Card Game</em> components in tournament
play, with the following exceptions for third-party <span class="new">replacements</span>:</p>

<ul>
<li>Tokens that do not obscure card information></li>
</ul>

<p>Determining the legality of any questionable third-party tokens is the marshal’s responsibility. Proxies of cards are not allowed unless used under the rules of "Lost and Damaged Cards" on page 6.</p>

<p>All <em>A Game of Thrones: The Card Game</em> components are legal for Standard Play tournaments.</p>

<p>For Relaxed and Formal events, all product is legal in North America upon the product's official release. For Premier events, all product is legal in North America 11 days—typically the second Monday—after the product's official release. Official dates will be updated on the Product Legality page on our website (<a href="http://www.fantasyflightgames.com/en/op/legality" target="_blank">https://www.fantasyflightgames.com/en/op/legality/</a>). Players outside North America should check with their organizer to determine which products are tournament legal.</p>

<h1 id="Tournament_Play">Tournament Play</h1>

<p>This section provides information and considerations for playing a game of <em>A Game of Thrones: The Card Game</em> at a tournament.</p>

<h2 id="Tournament_Setup">Tournament Setup</h2>

<p>Before the tournament begins, the organizer must set up tables suitable for tournament play. Each seat should be arranged so that players have enough space on the table to comfortably place all of their cards and tokens over the course of a game. <span class="new"> In addition, the organizer should clearly communicate the details of the event to players ahead of time.</span></p>

<h2 id="Game_Setup">Game Setup</h2>

<p>The following steps must be performed before players can begin their first game each tournament round.</p>

<ol>

<li>Players determine who is first player. This should be done by flipping a coin, rolling a die, or another random process.</li>
<br>
<li>Each player reveals their faction card and agenda card—if they have one—in player order, placing them prominently in their play area.</li>
<br>
<li>Players prepare the tokens they will need over the course of the game, placing them in piles within easy reach.</li>
<br>
<li>Each player places their plot deck facedown next to their faction card.</li>
<br>
<li>Each player shuffles their deck thoroughly and presents it to their opponent. The opponent may shuffle and cut the deck if desired. After the opponent has had a chance to shuffle the deck, each player places it within easy reach in their play area.</li>
<br>
<li>Each player draws the top seven cards of their deck. Each player, in player order, may decide to return those seven cards to their deck, shuffling the deck and presenting it to their opponent again before drawing a new hand of seven cards. Players must keep their second hand.</li>
<br>
<li>Each player, in player order, may place up to 8 gold worth of character, location, and attachment cards from their hand as setup cards. Setup cards are placed facedown in a player’s play area.</li>
<br>
<li>Players turn all setup cards faceup simultaneously. Then, in player order, each player attaches their attachments and places any duplicates.</li>
<br>
<li>Each player draws cards until they have seven cards in their hand.</li>

</ol>

<p>Once players complete setup, they should wait for a leader to announce the start of the round before beginning their game. If the round has already begun, players may begin playing immediately upon completing these steps.</p>

<h2 id="Missed_Opportunities">Missed Opportunities</h2>

<p>Players are expected to follow the game’s rules, remembering to perform actions and use card effects when indicated. <span class="new">It is all players’ responsibility to maintain a proper game state, and to ensure that all mandatory abilities and game steps are acknowledged.</span> If a player forgets to use an effect during the timing specified by that effect, he or she cannot retroactively use it without the consent of his or her opponent. Players are expected to act with respect and not intentionally distract or rush an opponent with the intent of forcing a missed opportunity.</p>

<h2 id="Taking_Notes_and_Outside_Material">Taking Notes and Outside Material</h2>

<p>Players cannot take notes or reference outside material or information during a tournament round. However, players may reference official rule documents at any time or ask a judge for clarification from official rule documents. Official rule documents include all rules documents <span class="new">and inserts</span> available on the <em>A Game of Thrones: The Card Game</em> page of our website, those found in an <em>A Game of Thrones: The Card Game</em> product, or any portion thereof.</p>

<h1 id="Tournament_Concepts">Tournament Concepts</h1>

<p>The tournament concepts create the framework for any <em>A Game of Thrones: The Card Game</em> tournament.</p>

<h2 id="Tournament_Round_Times">Tournament Round Times</h2>
<p>Each tournament round of <em>A Game of Thrones: The Card Game</em> is a predetermined length, giving players a certain amount of time to complete their games. A leader should start the timer for a tournament round after most players have found their seats and begun to set up. If a game has not concluded when the time for a tournament round runs out, the players play through the next taxation phase (see "End of Round" on page 11). A tournament round’s length varies depending on the type of round.</p>

<ul>

<li><b>Swiss Rounds:</b> 55 minutes each</li>
<br>
<li><b>Single Elimination Rounds (except Final):</b> 55 minutes each</li>
<br>
<li><b>Final Single Elimination Round:</b> 120 minutes</li>

</ul>

<h2 id="Pairings">Pairings</h2>

<p>Each <span class="new">tournament</span> round, players are paired with an opponent, against whom they play a game of <em>A Game of Thrones: The Card Game</em>. The method of pairing may change based on what type of rounds are being used. <span class="new">The organizer must announce the number and type(s) of rounds and what size any progression cuts will be before the start of the tournament.</p>

<p>When necessary, a player may be assigned a bye instead of being paired against an opponent. That player receives a win for that round of the tournament. The rules for when to assign a bye to a player are detailed in the relevant sections below.</p>

<p>Players should not be paired against the same opponent more than once during a single stage of a tournament. In general, a stage of a tournament ends when a progression cut is made.</p>

<p>If a player no longer wishes to continue playing, he or she can notify the organizer of their intent. The organizer will avoid pairing him or her in future rounds by dropping them from the tournament. Players are also dropped if they do not appear for a round in which they are paired within a reasonable time limit, or if they are no longer able to play for another reason. Players can request that the organizer allow them to rejoin an event from which they were dropped, being assigned unpaired losses for each round they did not attend. Players can rejoin an event only during the same stage in which they left. Disqualified players are removed from the tournament, and cannot rejoin.</p>
</span>

<p>The organizer must announce the number of rounds, if there will be single elimination rounds,
and what size the cut will be before the start of the tournament.</p>

<h3 id="Swiss_Rounds">Swiss Rounds</h3>

<span class="new">
<p>Most <em>A Game of Thrones: The Card Game</em> tournaments use a Swiss pairing system that awards tournament points to the winner of each game. Each Swiss round pairs players in head-to-head matches, attempting to pair players with the same number of tournament points together while preventing players from playing the same opponent more than once. At the end of Swiss rounds, the winner of the tournament is the player with most tournament points unless there are double elimination rounds (see “<a href="Single_Elimination_Rounds">Single Elimination Rounds</a>” on page 11).</p>
</span>

<p>For the first round of Swiss pairings, players are matched randomly against an opponent. For each round after the first, players are paired at random against another player with the same number of tournament points.</p>

<p>To determine pairings, take the group of players with the most tournament points and pair them at random. If there is an odd number of players in that group, pair the remaining player with a random player from the group of players with the next most tournament points. Then, pair all remaining players in the second group at random. Continue this until all players are paired.</p>

<p>If there is an odd number of players remaining in the tournament, a player at random receives the bye in the first round. In later rounds, <span class="new">if there is an odd number of players remaining in the tournament,</span> the bye is given to the lowest ranked player who has not yet received a bye.</p>

<p><b>Pairing example:</b> <em>John, Stella, and Laramy <span class="new">each</span> have 15 tournament points, the most out of any
player in the tournament. John is paired against Stella. Because there are no other players with
15 tournament points, Laramy is paired against a random player from the next highest score
group—in this case, players with 10 tournament points. Kyle is selected at random from
players with 10 tournament points and is paired against Laramy.</em></p>

<span class="new">
<h3 id="Progression_Cut">Progression Cut</h3>

<p>Many <em>A Game of Thrones: The Card Game</em> tournaments set a predetermined number of rounds, at the end of which all players that meet a certain performance criteria advance to the next stage of the tournament and all other players are dropped. This is commonly referred to as "making a cut," and is often accompanied by a change in the type of tournament rounds.</p>

<p>These tournament regulations cover the type of cut used for the Basic and Advanced tournament structures: a standings-based cut to the top 4, 8, 16, or 32 players. There are additional types of progression cuts detailed in the Fundamental Event Document, found on the <em>A Game of Thrones: The Card Game</em> page of the FFG website.</p>

<p>If a player qualified for a standings-based cut drops from the tournament before any games are played during the next stage of the tournament, the next highest ranking player should be added to the cut as the lowest ranked player in the cut.</p>

<p>Player drop example: <em>Steven finishes the Swiss rounds of a tournament in sixth place and makes the top 8 cut but has a family emergency come up before the single elimination rounds begin. He informs the organizer that he must leave the tournament and then departs. The organizer immediately calls over the ninth place player, Eve, and informs her that she may play in the top 8 due to someone leaving. She accepts and is entered into the top 8 as eighth place. The former eighth place player moves to seventh place, and the former seventh place player moves to Steven’s spot at sixth place. Then the organizer pairs all eight players based on these new rankings.</em></p>
</span>

<h3 id="Single_Elimination_Rounds">Single Elimination Rounds</h3>

<p>Many <em>A Game of Thrones: The Card Game</em> tournaments use single elimination <span class="new">rounds, in which the winner of each pairing remains in the tournament and the losing player is eliminated and dropped from the tournament. Elimination rounds are usually used after a progression cut to the top 4, 8, 16, or 32 players and continue until only one player remains and is named the winner.</span></p>

<p>For the first round of single elimination which follows a progression cut, pair the highest ranked player against the lowest ranked player who made the cut. This is Game #1. Pair the secondhighest player against the second-lowest player who made the cut. This is Game #2. Continue in this manner until all players are paired.</p>

<p>For tournaments which begin with single elimination rounds, byes will need to be utilized for the first round if there are a number of players not equal to an exponential power of 2 (4, 8, 16, 32, and so on). Randomly assign byes to a number of players equal to the difference between the actual player count and the next-highest exponential power of 2. Then pair all remaining players against each other at random. Assign each pairing and player with a bye a game number in a random order, starting with Game #1.</p>

<p>For additional elimination rounds, pair the winner of Game #1 against the winner of the last pairing (the game with the highest number). This pairing is the new Game #1. If there are more than two players remaining, pair the winner of Game #2 against the winner of the second-to-last pairing (the game with the second highest number). This pairing is the new Game #2. Continue in this manner until all players are paired for the round.</p>

<span class="new">
<p>If a player drops from the tournament after single elimination rounds begin, that player’s current opponent—or next opponent, if the player drops between rounds—receives a bye for the round.</p>
</span>

<p>In further single elimination rounds, follow the same method until all players are paired.</p>

<h2 id="End_of_Round">End of Round</h2>

<p>Each tournament round ends in one of the following ways:</p>

<ul>

<li><b>Victory Condition:</b> One player meets their deck’s victory condition. The player who meets their victory condition earns a win and their opponent receives a loss.</li>

<li><b>Empty Draw Deck:</b> If a player’s draw deck contains no cards, that player immediately receives a loss and their opponent receives a win.</li>

<li><b>Time:</b> When time is called at the end of a tournament round, players must play through the taxation phase of the current game round. If neither player has won, they follow the "Going to Time" rules on page 11 to determine who receives a modified win.</li>

<li><b>Concession:</b> A player voluntarily concedes defeat at any point during the game. The conceding player receives a loss and the opponent receives a win.</li>

</ul>

<h3 id="Going_to_Time">Going to Time</h3>

<p>If neither player has achieved victory at the end of a round, they must follow the steps below, in order, to determine who receives a modified win. That player’s opponent receives a loss for the round.</p>

<ol>

<li>The player who needs the fewest power to achieve victory. If both players require the same amount of power, proceed to step 2.</li>
<br>
<li>The player with the most cards remaining in his or her draw deck. If both players have the same number of cards remaining, proceed to step 3.</li>
<br>
<li>The player who won dominance in the final round of play. If neither player won dominance in the final round, proceed to step 4.</li>
<br>
<li>The player with the fewest characters in his or her dead pile. If both players have the same number of characters in their dead piles, proceed to step 5.</li>
<br>
<li>The player who was first player at the end of the game chooses a player to receive the modified win. The chosen player’s opponent receives a loss.</li>

</ol>

<p><b>End of Round Example:</b> <em>Time is called for the round. Dan and Emily are currently in the challenges phase, so they finish the game round. Neither player wins by the end of the taxation phase, so they follow the rules for going to time. Based on step 1, Dan has 11 power and Emily has 13 power. Emily only needs 2 more power for a victory, while Dan needs 4 more power. Since Emily is closer to victory, she receives a modified win and Dan receives a loss.</em></p>

<h2 id="Tournament_Points">Tournament Points</h2>

<p>Players earn tournament points at the end of each round. At the end of a tournament, the player with the most tournament points wins the tournament. In the case of a larger event, they are instead used to determine who makes the cut to elimination rounds. Players earn tournament points as follows:</p>

<ul>

<li>Win = 5 tournament points</li>
<br>
<li>Modified Win = 4 tournament points</li>
<br>
<li>Loss = 0 tournament points</li>

</ul>

<h3 id="Tiebreakers">Tiebreakers</h3>

<p>If two or more players have the same number of tournament points, tiebreakers are used to determine each player’s standing within that group. Tiebreakers are used in the following order until all players within that group have been given a standing.</p>

<ul>

<li><b>Strength of Schedule:</b> A player’s strength of schedule is calculated by dividing each opponent’s total tournament points by the number of rounds that opponent has played, adding the results of each opponent played, and then dividing that total by the number of opponents the player has played. The player with the highest strength of schedule is ranked above all other players in the group not yet ranked. The player with the second-highest strength of schedule is ranked second among all players in the group not yet ranked, and so on.</li>
<br>
<li><b>Extended Strength of Schedule:</b> A player’s extended strength of schedule is calculated by adding each opponent’s strength of schedule and then dividing by the number of opponents that player has played. The player with the highest extended strength of schedule is ranked above all other players in the group not yet ranked. The player with the second-highest extended strength of schedule is ranked second among all players in the group not yet ranked, and so on.</li>
<br>
<li><b>Random:</b> If any players are still tied after all other tiebreakers have been applied, then those players are ranked in a random order below any players already ranked in the group.</li>

</ul>

<h1 id="Tournament_Structures">Tournament Structures</h1>

<p>The structure of a tournament determines how many Swiss and single elimination rounds are used. All <em>A Game of Thrones: The Card Game</em> tournaments must use one of the following three types.</p>

<h2 id="Basic_Structure">Basic Structure</h2>

<p>The basic tournament structure is designed to be very accessible, especially for newer participants. This structure provides a tournament experience that requires a modest commitment of time and resources from organizers and players. The Basic Structure is used for Store Championship events.</p>

<table>
<tr>
	<th width="30%">Number of Registered Players</th>
	<th width="30%">Number of Swiss Rounds</th>
	<th width="30%">Size of Cut</th>
</tr>
<tr>
	<td>4-8</td>
	<td>3</td>
	<td>No Cut</td>
</tr>
<tr>	
	<td>9-16</td>
	<td>4</td>
	<td>No Cut</td>
</tr>
<tr>
	<td>17-24</td>
	<td>4</td>
	<td>Top 4</td>
</tr>
<tr>
	<td>25-40</td>
	<td>5</td>
	<td>Top 4</td>
</tr>
<tr>
	<td>41-44</td>
	<td>5</td>
	<td>Top 8</td>
</tr>
<tr>
	<td>45-76</td>
	<td>6</td>
	<td>Top 8</td>
</tr>
<tr>
	<td>77-148</td>
	<td>6</td>
	<td>Top 16</td>
</tr>
<tr>
	<td>149 and Above</td>
	<td>7</td>
	<td>Top 16</td>
</tr>
</table>

<h2 id="Advanced_Structure">Advanced Structure</h2>

<p>The Advanced tournament structure caters to participants that enjoy competition. This structure provides a robust tournament experience that requires a substantial commitment of time and resources from organizers and players. The Advanced Structure is used for Regional Championship events.</p>

<table>
<tr>
	<th width="30%">Number of Registered Players</th>
	<th width="30%">Number of Swiss Rounds</th>
	<th width="30%">Size of Cut</th>
</tr>
<tr>
	<td>9-12</td>
	<td>4</td>
	<td>Top 4</td>
</tr>
<tr>	
	<td>13-24</td>
	<td>4</td>
	<td>Top 8</td>
</tr>
<tr>
	<td>25-40</td>
	<td>5</td>
	<td>Top 8</td>
</tr>
<tr>
	<td>41-76</td>
	<td>6</td>
	<td>Top 8</td>
</tr>
<tr>
	<td>77-148</td>
	<td>6</td>
	<td>Top 16</td>
</tr>
<tr>
	<td>149-288</td>
	<td>6</td>
	<td>Top 32</td>
</tr>
<tr>
	<td>289-512</td>
	<td>7</td>
	<td>Top 32</td>
</tr>
<tr>
	<td>513 and Above</td>
	<td>8</td>
	<td>Top 32</td>
</tr>
</table>

<h2 id="Custom_Structure">Custom Structure</h2>

<p>The custom structure applies to all round structures other than the basic and advanced structures. Also included in the custom structure are tournaments that offer a number of rounds or size of cut that does not change based on attendance. The Event Outline of official custom tournaments will either include a specific structure tailored to that particular type of event or instruct the organizer to design a structure and communicate it to participants. <span class="new">The Custom Structure is used for official Premier events, such as National, Continental, and World Championship events.</span></p>

<h1 id="Tournament_Tiers">Tournament Tiers</h1>

<p>FFG’s OP events are broken into three tiers of play. These tiers serve to establish the expectations of a <em>A Game of Thrones: The Card Game</em> tournament. Expectations are not intended to exclude people from participating, but to communicate the experience that players can expect from an event. Organizers of unofficial tournaments are encouraged to utilize the Relaxed tier, unless their tournament is specifically aimed at competitive players.</p>

<h2 id="Relaxed">Relaxed</h2>

<p>Tournaments at this level are welcoming to all players, regardless of experience level. Players are encouraged to help each other improve and learn, so long as it does not significantly disrupt the game. The focus is on creating a fun and friendly environment.</p>

<h2 id="Formal">Formal</h2>

<p>This tournament level expects players to posses at least a minimal amount of experience. Players should be familiar with the game rules, and be prepared to exercise that knowledge to play at a reasonable pace. Players are expected to avoid confusion about their actions and refrain from other sloppy play mistakes. The focus is a friendly competitive environment.</p>

<h2 id="Premier">Premier</h2>

<p>Premier events are the highest level of competition for Fantasy Flight Games tournaments. At this top level of tournaments, players are expected to have a moderate amount of experience. Players should be familiar with not only the game rules, but also the FAQ and tournament regulations. The focus is on a competitive and fair environment.</p>

<p>This and other supported documents for FFG Organized Play can be accessed from the FFG Organized Play Page: <a href="http://www.fantasyflightgames.com/op" target="_blank">http://www.fantasyflightgames.com/op</a></p>

</div>
